.content-404 {
    width: 100%;
    height: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-404 .img-404 {
    width: 737px;
    height: 562px;
    background: url(../assets/illustrations/404.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
}

.content-404 .oops {
    font-size: 48px;
    color: #0C0C0C;
    font-family: proxima-nova-medium;
    margin-top: 40px;
}

.content-404 .info {
    font-size: 18px;
    color: #0C0C0C;
    font-family: proxima-nova-medium;
}

.content-404 .back-home {
    display: flex;
    align-items: center;
    color: #3D82F0;
    margin-top: 20px;
}

.content-404 .back-home span {
    font-size: 38px;
    font-family: proxima-nova-medium;
}

.content-404 .back-home .left-arrow {
    width: 11px;
    height: 20px;
    margin-right: 15px;
    background: url(../assets/images/left-arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -4px;
}

@media (max-width: 1199px) {
    .content-404 {
        width: 100%;
        height: 980px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content-404 .img-404 {
        margin-top: 180px;
    }
}

@media (max-width: 767px) {
    .content-404 {
        width: 100%;
        height: 740px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content-404 .img-404 {
        width: 300px;
        height: 228px;
        background: url(../assets/illustrations/404.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 180px;
    }
    
    .content-404 .oops {
        font-size: 61px;
        color: #0C0C0C;
        font-family: proxima-nova-medium;
        margin-top: 40px;
    }
    
    .content-404 .info {
        width: 210px;
        font-size: 15px;
        color: #0C0C0C;
        font-family: proxima-nova-medium;
        text-align: center;
    }

    .content-404 .back-home span {
        font-size: 33px;
        font-family: proxima-nova-medium;
    }
    
    .content-404 .back-home .left-arrow {
        width: 9px;
        height: 16px;
        margin-right: 15px;
        background: url(../assets/images/left-arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -4px;
    }
}

@media (max-width: 600px) {
    .content-404 .img-404 {
        margin-top: 120px;
    }
}