.about-us-header {
    width: 100%;
    height: 477px;
    background: linear-gradient(90deg, #0457DC, #4B97EF);
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-header .bg {
    width: 100%;
    height: 477px;
    max-width: 2000px;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: url(../assets/illustrations/about-us-mask.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.about-us-header .bg .bg-o-right {
    width: 410px;
    height: 450px;
    background: url(../assets/images/bg-right-profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: scale(0.5);
    right: -120px;
    top: -122px;
}

.about-us-header .bg .bg-o-left {
    width: 280px;
    height: 307px;
    background: url(../assets/images/bg-left-profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: scale(3.2);
    left: 280px;
    bottom: -50px;
}

.about-us-header .title {
    font-size: 67px;
    font-family: proxima-nova-medium;
    color: #ffffff;
}

.about-us-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-content .inner {
    width: 1170px;
    height: auto;
    margin-top: 150px;
}

.about-us-content .title {
    font-size: 48px;
    font-family: proxima-nova-regular;
    font-weight: bold;
    color: #0C0C0C;
}

.about-us-content .text-content {
    font-size: 18px;
    font-family: proxima-nova-regular;
    color: #0C0C0C;
    margin-top: 40px;
}

.about-us-content .nav {
    width: 1170px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.about-us-content .nav a {
    font-size: 38px;
    font-family: proxima-nova-regular;
    color: #3D82F0;
    transition: all 0.2s;
}

.about-us-content .nav a svg {
    font-size: 25px;
}

.about-us-content .nav a:hover {
    color: #FF930E;
}


@media (max-width: 1199px) {
    /* start of profile header */
    .about-us-header {
        width: 100%;
        height: 350px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 109px;
    }

    .about-us-header .bg {
        width: 100%;
        height: 350px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .about-us-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.5);
        right: -120px   ;
        top: -122px;
    }

    .about-us-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(3.2);
        left: 280px;
        bottom: -50px;
    }

    .about-us-content > .inner {
        width: 700px;
    }

    .about-us-content > .inner .nav {
        width: 700px;
    }
}

@media (max-width: 767px) {
    .about-us-header {
        width: 100%;
        height: 234px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 109px;
    }

    .about-us-header .bg {
        width: 100%;
        height: 234px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
        background-size: 600px;
    }

    .about-us-header .title {
        font-size: 24px;
    }

    .about-us-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.5);
        right: -120px;
        top: -122px;
    }

    .about-us-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(3.2);
        left: 280px;
        bottom: -50px;
    }

    .about-us-content > .inner {
        width: 450px;
        margin-top: 70px;
    }

    .about-us-content > .inner .nav {
        width: 450px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .about-us-content .title {
        font-size: 30px;
    }

    .about-us-content .text-content {
        font-size: 17px;
    }

    .about-us-content .nav a {
        font-size: 23px;
    }

    .about-us-content .nav svg {
        font-size: 17px!important;
    }

}

@media (max-width: 600px) {
    .about-us-header {
        width: 100%;
        height: 234px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
}

@media (max-width: 500px) {
    .about-us-header .bg {
        width: 100%;
        height: 234px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .about-us-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.4);
        right: -150px;
        top: -142px;
    }

    .about-us-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(2.2);
        left: 110px;
        bottom: -130px;
    }

    .about-us-content > .inner {
        width: 300px;
    }

    .about-us-content > .inner .nav {
        width: 300px;
    }
}