@media (max-width: 1199px) {
    .after-login-mobile {
        display: none!important;
    }

    .hamburger-before-login {
        display: flex!important;
    }

    .hamburger-after-login {
        display: none!important;
    }
}