/*start of blog content*/
.blog-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.blog-content .inner {
    width: 1170px;
    height: auto;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 100px;
}

.blog-content .inner .publish-date {
    margin-top: 80px;
    font-size: 38px;
    color: #CFCFCF;
    font-family: proxima-nova-regular;
}

.blog-content .blog-img {
    width: 1170px;
}

.blog-content .inner .blog-title {
    font-size: 85px;
    font-family: proxima-nova-regular;
    color: #0C0C0C;
    text-align: center;
    max-width: 900px;
    margin-top: 40px;
    line-height: 1.2em;
}

.blog-content .inner .blog-text {
    font-size: 22px;
    color: #343434;
    font-family: proxima-nova-regular;
    margin-top: 70px;
}

.blog-content .inner .blog-text b {
    font-size: 37px;
    color: #0c0c0c
}

.blog-content .tools {
    width: 1170px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3D82F0;
    margin-top: 50px;
}

.blog-content .tools .back {
    font-size: 38px;
    font-family: proxima-nova-regular;
    transition: all 0.2s;
}

.blog-content .tools .back:hover {
    color: #FF6400;
}

.blog-content .tools .back svg {
    font-size: 25px;    
}

.blog-content .tools .share {
    display: flex;
    align-items: center;
}

.blog-content .tools .share .title {
    font-size: 38px;
    font-family: proxima-nova-regular;
    color: #3D82F0;
    margin-right: 30px;
}

.blog-content .tools .share .share-tools {
    width: 150px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.blog-content .tools .share .share-tools svg, .blog-content .tools .share .share-tools i {
    font-size: 25px;
    color: #3D82F0;
    transition: all 0.2s;
}

.blog-content .tools .share .share-tools svg:hover, .blog-content .tools .share .share-tools i:hover {
    color: #FF6400;
}

@media (max-width: 1199px) {
    /*start of blog content*/

    .blog-content .inner {
        width: 700px;
        height: auto;
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 100px;
    }

    .blog-content .inner .publish-date {
        margin-top: 80px;
        font-size: 38px;
        color: #CFCFCF;
        font-family: proxima-nova-regular;
    }

    .blog-content .inner .blog-title {
        font-size: 65px;
        font-family: proxima-nova-regular;
        color: #0C0C0C;
        text-align: center;
        max-width: 700px;
        margin-top: 40px;
        line-height: 1.2em;
    }

    .blog-content .blog-img {
        width: 700px;
        margin-top: 50px;
    }

    .blog-content .inner .blog-text {
        font-size: 22px;
        color: #343434;
        font-family: proxima-nova-regular;
        margin-top: 70px;
    }

    .blog-content .inner .blog-text b {
        font-size: 37px;
        color: #0c0c0c;
    }

    .blog-content .tools {
        width: 700px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #3D82F0;
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    /*start of blog content*/
    .blog-content {
        margin-bottom: 50px;
    }

    .blog-content .inner {
        width: 450px;
        height: auto;
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 100px;
    }

    .blog-content .inner .publish-date {
        margin-top: 80px;
        font-size: 25px;
        color: #CFCFCF;
        font-family: proxima-nova-regular;
    }

    .blog-content .blog-img {
        width: 450px;
    }

    .blog-content .inner .blog-title {
        font-size: 40px;
        font-family: proxima-nova-regular;
        color: #0C0C0C;
        text-align: center;
        max-width: 450px;
        margin-top: 40px;
        line-height: 1.2em;
    }

    .blog-content .inner .blog-text {
        font-size: 17px;
        color: #343434;
        font-family: proxima-nova-regular;
        margin-top: 70px;
    }

    .blog-content .inner .blog-text b {
        font-size: 25px;
        color: #0c0c0c
    }

    .blog-content .tools {
        width: 450px;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        color: #3D82F0;
        margin-top: 50px;
    }

    .blog-content .tools .back {
        font-size: 30px;
        font-family: proxima-nova-regular;
        transition: all 0.2s;
        align-self: flex-start;
        margin-top: 50px;
    }

    .blog-content .tools .back:hover {
        color: #FF6400;
    }

    .blog-content .tools .back svg {
        font-size: 20px;    
    }

    .blog-content .tools .share {
        display: flex;
        align-items: center;
    }

    .blog-content .tools .share .title {
        display: none;
    }

    .blog-content .tools .share .share-tools {
        width: 170px;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .blog-content .tools .share .share-tools svg, .blog-content .tools .share .share-tools i {
        font-size: 30px;
        color: #3D82F0;
        transition: all 0.2s;
    }
}

@media (max-width: 500px) {
        /*start of blog content*/
    .blog-content .inner {
        width: 300px;
        height: auto;
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 100px;
    }

    .blog-content .inner .publish-date {
        margin-top: 50px;
        font-size: 20px;
        color: #CFCFCF;
        font-family: proxima-nova-regular;
    }

    .blog-content .blog-img {
        width: 300px;
    }

    .blog-content .inner .blog-title {
        font-size: 30px;
        font-family: proxima-nova-regular;
        color: #0C0C0C;
        text-align: center;
        max-width: 300px;
        margin-top: 20px;
        line-height: 1.2em;
    }

    .blog-content .inner .blog-text {
        font-size: 14px;
        color: #343434;
        font-family: proxima-nova-regular;
        margin-top: 40px;
    }

    .blog-content .inner .blog-text b {
        font-size: 20px;
        color: #0c0c0c
    }

    .blog-content .tools {
        width: 300px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #3D82F0;
        margin-top: 50px;
    }

    .blog-content .tools .back {
        font-size: 23px;
        font-family: proxima-nova-regular;
        transition: all 0.2s;
        align-self: flex-start;
        margin-top: 50px;
    }
    .blog-content .tools .back svg {
        font-size: 17px;    
    }
    .blog-content .tools .share .share-tools svg, .blog-content .tools .share .share-tools i {
        font-size: 28px;
        color: #3D82F0;
        transition: all 0.2s;
    }
}