.blogs-header {
    width: 100%;
    height: 477px;
    background: linear-gradient(transparent, transparent), url(../assets/illustrations/blogs.svg);
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogs-header .bg {
    width: 100%;
    height: 477px;
    max-width: 2000px;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
}

.blogs-header .bg .bg-o-right {
    width: 410px;
    height: 450px;
    background: url(../assets/images/bg-right-profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: scale(0.5);
    right: -120px;
    top: -122px;
}

.blogs-header .bg .bg-o-left {
    width: 280px;
    height: 307px;
    background: url(../assets/images/bg-left-profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: scale(3.2);
    left: 280px;
    bottom: -50px;
}

.blogs-header .title {
    font-size: 67px;
    font-family: proxima-nova-medium;
    color: #ffffff;
}

.search-blog {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 130px 0;
}

.search-blog form {
    width: 770px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3D82F0;
    border-radius: 40px 40px 40px 40px;
}

.search-blog form .search-icon {
    width: 17px;
    height: 17px;
    background: url(../assets/images/search.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 30px;
    margin-right: 20px;
    flex-shrink: 0;
}

.search-blog form input {
    width: 100%;
    height: 100%!important;
    border: none!important;
    outline: none!important;
    font-size: 15px;
    font-family: proxima-nova-regular;
    color: #3D82F0;
    padding-right: 20px;
}

.search-blog form button {
    width: 220px;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: proxima-nova-regular;
    color: #ffffff;
    background: #3D82F0;
    margin-right: -2px;
}

.search-blog form input::placeholder,  .search-blog form input::-webkit-input-placeholder {
    color: #343434;
    opacity: 0.6;
    font-family: segoe-regular;
}

.blogs-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.blogs-content > .inner {
    width: 1154px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.blogs-content > .inner .blog-item {
    width: 33.333%;
    height: 450px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs-content > .inner .blog-item > .inner {
    width: 347px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs-content > .inner .blog-item > .inner .blog-img {
    width: 327px;
    height: 201px;
    border-radius: 24px 24px 24px 24px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important
}

#test1 .blog-img {
    background: url(../test-img/1.svg);
}

#test2 .blog-img {
    background: url(../test-img/2.svg);
}

#test3 .blog-img {
    background: url(../test-img/3.svg);
}

#test4 .blog-img {
    background: url(../test-img/4.svg);
}

#test5 .blog-img {
    background: url(../test-img/5.svg);
}

#test6 .blog-img {
    background: url(../test-img/6.svg);
}

#test7 .blog-img {
    background: url(../test-img/7.svg);
}

#test8 .blog-img {
    background: url(../test-img/8.svg);
}

#test9 .blog-img {
    background: url(../test-img/9.svg);
}

.blogs-content > .inner .blog-item > .inner .blog-title {
    font-size: 24px;
    font-family: proxima-nova-medium;
    color: #2C3E5C;
    text-align: start;
    width: 300px;
    margin-left: -27px;
    margin-top: 20px;
}

.blogs-content > .inner .blog-item > .inner .blog-text {
    width: 327px;
    height: 124px;
    font-size: 17px;
    font-family: proxima-nova-regular;
    color: #343434;
    margin-top: 20px;
    opacity: 0.6;
}

.blogs-content > .inner .blog-item > .inner .read-more {
    color: #FF6400;
    font-size: 16px;
    font-family: proxima-nova-regular;
    align-self: flex-start;
    transition: all 0.2s;
    margin-left: 9px;
}

.blogs-content > .inner .blog-item > .inner .read-more:hover {
    color: #153B99;
}

.blogs-content > .inner .blog-item > .inner .read-more span {
    margin-bottom: 3px;
    text-decoration: underline;
}

.blogs-content > .inner .blog-item > .inner .read-more .fa-angle-right {
    font-size: 13px;
}

.blogs-content .nav {
    width: 1154px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3D82F0;
    margin-top: 50px;
}

.blogs-content a {
    font-size: 38px;
    font-family: proxima-nova-regular;
    transition: all 0.2s;
}

.blogs-content a:hover {
    color: #FF6400;
}

.blogs-content .nav svg {
    font-size: 25px;    
}

@media (max-width: 1199px) {
    /* start of blogs header */
    .blogs-header {
        width: 100%;
        height: 350px;
        background: linear-gradient(transparent, transparent), url(../assets/illustrations/blogs_mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 109px;
    }

    .blogs-header .bg {
        width: 100%;
        height: 350px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .blogs-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.5);
        right: -120px   ;
        top: -122px;
    }

    .blogs-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(3.2);
        left: 280px;
        bottom: -50px;
    }

    .blogs-content > .inner {
        width: 740px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .blogs-content > .inner .blog-item {
        width: 50%;
        height: 450px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blogs-content .nav {
        width: 700px;
    }

    .search-blog form {
        width: 650px;
    }
}

@media (max-width: 767px) {
    .blogs-header {
        width: 100%;
        height: 234px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 109px;
    }

    .blogs-header .bg {
        width: 100%;
        height: 234px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
        background-size: 600px;
    }

    .blogs-header .title {
        font-size: 24px;
    }

    .blogs-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.5);
        right: -120px;
        top: -122px;
    }

    .blogs-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(3.2);
        left: 280px;
        bottom: -50px;
    }

    .blogs-content > .inner {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .blogs-content > .inner .blog-item {
        width: 100%;
        height: 450px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blogs-content .nav {
        transform: scale(0.6);
        width: 580px;
        margin-top: -30px;
    }

    .search-blog {
        padding-top: 80px;
        padding-bottom: 110px;
    }

    .search-blog form {
        transform: scale(0.8);
        width: 410px;
    }

    .blogs-content {
        margin-bottom: 50px;
    }
}
@media (max-width: 600px) {
    .blogs-header {
        width: 100%;
        height: 234px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
}
@media (max-width: 500px) {
    .blogs-header .bg {
        width: 100%;
        height: 234px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .blogs-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.4);
        right: -150px;
        top: -142px;
    }

    .blogs-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(2.2);
        left: 110px;
        bottom: -130px;
    }
}

@media (max-width: 450px) {
    .blogs-content > .inner .blog-item {
        width: 100%;
        height: 450px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0.9);
    }

    .blogs-content .nav {
        transform: scale(0.6);
        width: 500px;
    }

    .search-blog {
        padding-top: 80px;
        padding-bottom: 110px;
    }

    .search-blog form {
        transform: scale(0.7);
        width: 450px;
        min-width: 400px;
    }
}