.contact-us-header {
    width: 100%;
    height: 477px;
    background: linear-gradient(90deg, #0457DC, #4B97EF);
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-header .bg {
    width: 100%;
    height: 477px;
    max-width: 2000px;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: url(../assets/illustrations/contact-us-mask.svg);
    background-position: bottom center;
    background-size: 1300px;
    background-repeat: no-repeat;
    z-index: 0;
}

.contact-us-header .bg .bg-o-right {
    width: 410px;
    height: 450px;
    background: url(../assets/images/bg-right-profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: scale(0.5);
    right: -120px;
    top: -122px;
}

.contact-us-header .bg .bg-o-left {
    width: 280px;
    height: 307px;
    background: url(../assets/images/bg-left-profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: scale(3.2);
    left: 280px;
    bottom: -50px;
}

.contact-us-header .title {
    font-size: 67px;
    font-family: proxima-nova-medium;
    color: #ffffff;
}

.contact-us-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-content .inner {
    width: 1170px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.contact-us-content .inner .info {
    width: 460px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contact-us-content .inner .info .title {
    font-size: proxima-nova-regular;
    font-weight: bold;
    color: #0C0C0C;
    font-size: 27px;
}

.contact-us-content .inner .info .inner-text {
    font-size: proxima-nova-regular;
    color: #0C0C0C;
    font-size: 21px;
    margin-top: 25px;
    font-weight: 700;
}

.contact-us-content .inner .info a {
    font-size: proxima-nova-regular;
    color: #3D82F0;
    font-size: 37px;
    margin-top: 100px;
    font-weight: bold;
}

@media (min-width: 1401px) {
    .contact-us-content .inner {
        width: 1250px;
    }

    .contact-us-content .inner form {
        width: 600px!important;
    }
}

.contact-us-content .inner form {
    width: 500px;
    height: 671px;
    border: 1px solid #3D82F0;
    margin-left: 150px;    
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 30px 40px 25px #00000028;
}

.contact-us-content .inner form a {
    font-size: 36px;
    font-family: proxima-nova-regular;
    color: #222A41;
    text-decoration: underline;
    margin-top: 40px;
    font-weight: bold;
}

.contact-us-content .inner form .title {
    font-size: 22px;
    font-family: proxima-nova-regular;
    color: #343434;
    font-weight: 600;
}

.contact-us-content .inner form label {
    margin-top: 20px;
}


.contact-us-content .inner form input {
    width: 381px;
    height: 58px;
    padding: 10px 30px;
    background: #EDF0F3;
    border: none!important;
    outline: none!important;
    color: #3D82F0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-us-content .inner form textarea {
    width: 381px;
    height: 178px;
    padding: 10px 30px;
    background: #EDF0F3;
    border: none!important;
    outline: none!important;
    color: #3D82F0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}

.contact-us-content .inner form textarea::placeholder, .contact-us-content .inner form textarea::-moz-placeholder, .contact-us-content .inner form input::placeholder,  .contact-us-content .inner form input::-webkit-input-placeholder {
    color: #343434;
    opacity: 0.6;
    font-family: segoe-regular;
}

.contact-us-content .inner form button {
    width: 141px;
    height: 50px;
    color: #ffffff;
    font-family: proxima-nova-regular;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    background: linear-gradient(270deg, #00EBAC, #00D1F4,#00D1F4,#00EBAC);
    background-size: 400%;
    animation: animate 8s linear infinite;
    margin-top: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% {background-position: 0%}
    100% {background-position: 400%}
}

.contact-us-content .inner form button::before {
    width: 141px;
    height: 50px;
    color: #ffffff;
    font-family: proxima-nova-regular;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(#FF930E, #FF930E);
    position: absolute;
    opacity: 0;
    content: 'Send';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.contact-us-content .inner form button:hover::before {
    opacity: 1;
}


@media (max-width: 1199px) {
    /* start of profile header */
    .contact-us-header {
        width: 100%;
        height: 350px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 109px;
    }

    .contact-us-header .bg {
        width: 100%;
        height: 350px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .contact-us-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.5);
        right: -120px   ;
        top: -122px;
    }

    .contact-us-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(3.2);
        left: 280px;
        bottom: -50px;
    }

    .contact-us-content .inner {
        flex-direction: column;
    }

    .contact-us-content .inner .info {
        transform: scale(1.2);
        margin-top: 100px;
    }

    .contact-us-content .inner form {
        margin-left: 0;
        margin-top: 200px;
        transform: scale(1.2);
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .contact-us-header {
        width: 100%;
        height: 234px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 109px;
    }

    .contact-us-header .bg {
        width: 100%;
        height: 234px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
        background-size: 600px;
    }

    .contact-us-header .title {
        font-size: 24px;
    }

    .contact-us-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.5);
        right: -120px;
        top: -122px;
    }

    .contact-us-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(3.2);
        left: 280px;
        bottom: -50px;
    }
    
    .contact-us-content .inner {
        flex-direction: column;
    }

    .contact-us-content .inner .info {
        transform: scale(0.8);
        margin-top: -50px;
    }

    .contact-us-content .inner form {
        margin-left: 0;
        margin-top: -70px;
        transform: scale(0.8);
        box-shadow: none;
        margin-bottom: -20px;
    }
}

@media (max-width: 600px) {
    .contact-us-header {
        width: 100%;
        height: 234px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
}

@media (max-width: 500px) {
    .contact-us-header .bg {
        width: 100%;
        height: 234px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .contact-us-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.4);
        right: -150px;
        top: -142px;
    }

    .contact-us-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(2.2);
        left: 110px;
        bottom: -130px;
    }

        
    .contact-us-content .inner {
        flex-direction: column;
    }

    .contact-us-content .inner .info {
        transform: scale(0.60);
        margin-top: -90px;
    }

    .contact-us-content .inner form {
        margin-left: 0;
        margin-top: -80px;
        transform: scale(0.77);
        box-shadow: none;
        margin-bottom: -130px;
        border: none;
    }
}