@font-face {
    font-family: proxima-nova-black;
    src: url(../assets/fonts/ProximaNova-Black.otf);
}

@font-face {
    font-family: proxima-nova-regular;
    src: url(../assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: proxima-nova-medium;
    src: url(../assets/fonts/ProximaNova-Medium.otf);
}

@font-face {
    font-family: proxima-nova-thin;
    src: url(../assets/fonts/ProximaNova-Thin.otf);
}

@font-face {
    font-family: segoe-regular;
    src: url(../assets/fonts/Segoe.ttf);
}

@font-face {
    font-family: segoe-bold;
    src: url(../assets/fonts/Segoe\ Bold.ttf);
}

@font-face {
    font-family: circular-std-black;
    src: url(../assets/fonts/Circular\ Std\ Black.ttf);
}