/* start of footer */
.footer {
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .inner {
    width: 1000px;
    height: 225px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footer .inner .mail {
    display: flex;
    flex-direction: column;
}

.footer .inner .mail span {
    font-size: 36px;
    font-family: proxima-nova-medium;
    color: #233D63;
}

.footer .inner .mail a {
    font-size: 18px;
    font-family: proxima-nova-regular;
    color: #57667E;
    opacity: 0.8;
    margin-top: 10px;
    transition: all 0.2s;
}

.footer .inner .languages, .footer .inner .quick-links, .footer .inner .social-links {
    display: flex;
    flex-direction: column;
}

.footer .inner .languages .title, .footer .inner .quick-links .title, .footer .inner .social-links .title {
    font-size: 22px;
    font-family: proxima-nova-regular;
    color: #233D63;
}

.footer .inner .languages ul, .footer .inner .quick-links ul {
    margin-top: 20px;
}

.footer .inner .languages ul li,  .footer .inner .quick-links ul li {
    margin-bottom: 9px;
}

.footer .inner .languages ul li a,  .footer .inner .quick-links ul li a {
    font-size: 17px;
    color: #76797E;
    font-family: proxima-nova-regular;
    transition: all 0.2s;
}

.footer .inner .mail a:hover, .footer .inner .languages a:hover, .footer .inner .quick-links a:hover {
    color: #007bff;
    opacity: 1;
}

.footer .inner .social-links .text {
    width: 141px;
    font-size: 15px;
    font-family: proxima-nova-regular;
    margin-top: 20px;
    color: #76797E;
}

.footer .inner .social{
    width: 140px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.footer .inner .social div{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #E3E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #76797E;
    transition: 0.2s;
}

.footer .inner .social .yt:hover {
    background: #FF3A46;
    color: white;
    transition: 0.2s;
} 

.footer .inner .social .yt .yt-img {
    width: 17.93px!important;
    height: 13.15px!important;
    background: url(../assets/images/youtube.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    flex-shrink: 0;
    border: none;
    border-radius: 0;
} 

.footer .inner .social .yt:hover .yt-img {
    background: url(../assets/images/Youtube_hovered.svg);
} 

.footer .inner .social .fb:hover .fb-img {
    background: url(../assets/images/facebook_hovered.svg);
} 

.footer .inner .social .ig:hover .ig-img {
    background: url(../assets/images/instagram_hovered.svg);
} 

.footer .inner .social .fb:hover {
    background: #3D82F0;
    color: white;
    transition: 0.2s;
} 

.footer .inner .social .fb .fb-img {
    width: 13.12px!important;
    height: 13px!important;
    background: url(../assets/images/facebook.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    flex-shrink: 0;
    border: none;
    border-radius: 0;
}

.footer .inner .social .ig:hover{
    background: #F10E8F;
    color: white;
    transition: 0.2s;
} 

.footer .inner .social .ig .ig-img {
    width: 13.12px!important;
    height: 13px!important;
    background: url(../assets/images/instagram.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    flex-shrink: 0;
    border: none;
    border-radius: 0;
}

.footer .rights-reserved {
    width: 1000px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 130px;
    border-top: 1px solid #F9F9F9;
}

.footer .rights-reserved .copy {
    font-size: 17px;
    font-family: proxima-nova-regular;
    color: #57667E;
    opacity: 0.8;
}

.footer .rights-reserved .links {
    width: 234px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ,.rights-reserved .links a {
        font-size: 17px;
    font-family: proxima-nova-regular;
    color: #57667E;
    opacity: 0.8;
}

.footer .bg {
    width: 100%;
    height: 300px;
    max-width: 2000px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.footer .shape-3 {
    width: 155px;
    height: 155px;
    background: url(../assets/images/shape-3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -77.5px;
}

.footer .shape-4 {
    width: 30px;
    height: 25px;
    background: url(../assets/images/shape-4.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 77.5px!important;
    margin-top: 100px;
}

.row > .blink {
    width: 50px!important;
    height: 50px!important; 
    border-radius: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #00E5FF;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}

.row > .blink .anim {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 100%;
    animation: pulsate 1.3s ease-out;
    animation-iteration-count: infinite; 
    border: 10px solid #CCFBFB;
    opacity: 0;
}

@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0; }
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.row > .blink .msg {
    width: 20px;
    height: 20px;
    background: url(../assets/images/Path\ 232@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* end of footer */

/* TABLET VIEW */
@media (max-width: 1199px) {
    /* footer */
    .footer {
        height: 450px;
    }

    .footer > div {
        max-width: 700px!important;
    }

    .footer .bg {
        display: block;
    }

    .footer .shape-3 {
        display: none;
    }

    .footer .shape-4 {
        float: right;
    }

    .footer .rights-reserved {
        margin-top: 50px;
    }

    .footer .blink {
        margin-top: 270px;
        margin-left: 0;
        transform: translateX(-220px);
    }

    .footer .mail {
        margin-top: -10px;
    }
}

/* MOBILE VIEW */
@media (max-width: 767px) {
    /* footer */
    .footer > div{
        width: 310px!important;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        height: 593px;
    }
    
    .footer .inner {
        height: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .footer .inner .mail {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 0;
    }
    
    .footer .inner .mail span {
        font-size: 36px;
        font-family: proxima-nova-medium;
        color: #233D63;
    }
    
    .footer .inner .mail a {
        font-size: 18px;
        font-family: proxima-nova-regular;
        color: #57667E;
        opacity: 0.8;
        margin-top: 10px;
    }
    
    .footer .inner .languages, .footer .inner .quick-links, .footer .inner .social-links {
        display: flex;
        flex-direction: column;
    }

    .footer .inner .languages, .footer .inner .quick-links {
        width: 50%;
    }

    .footer .inner .social-links {
        width: 100%;
    }
    
    .footer .inner .languages .title, .footer .inner .quick-links .title, .footer .inner .social-links .title {
        font-size: 22px;
        font-family: proxima-nova-regular;
        color: #233D63;
    }
    
    .footer .inner .languages ul, .footer .inner .quick-links ul {
        margin-top: 8px;
    }
    
    .footer .inner .languages ul li,  .footer .inner .quick-links ul li {
        margin-bottom: 9px;
    }
    
    .footer .inner .languages ul li a,  .footer .inner .quick-links ul li a {
        font-size: 17px;
        color: #76797E;
        font-family: proxima-nova-regular;
    }

    .footer .inner .social-links .title {
        display: none;
    }
    
    .footer .inner .social-links .text {
        width: 100%;
        font-size: 15px;
        font-family: proxima-nova-regular;
        margin-top: 10px;
        color: #76797E;
    }
    
    .footer .inner .social{
        width: 140px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0 0 0 !important;
    }
    
    .footer .inner .social div{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid #E3E3E3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #76797E;
        transition: 0.2s;
    }
    
    .footer .inner .social .yt:hover{
        background: #FF3A46;
        color: white;
        transition: 0.2s;
    } 
    .footer .inner .social .fb:hover{
        background: #3D82F0;
        color: white;
        transition: 0.2s;
    } 
    .footer .inner .social .ig:hover{
        background: #F10E8F;
        color: white;
        transition: 0.2s;
    } 
    
    .footer .rights-reserved {
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 50px;
        border-top: 1px solid #F9F9F9;
    }
    
    .footer .rights-reserved .copy {
        width: 100%;
        font-size: 17px;
        font-family: proxima-nova-regular;
        color: #57667E;
        opacity: 0.8;
    }
    
    .footer .rights-reserved .links {
        display: none;
    }

    .footer .bg .shape-4 {
        margin-top: 270px;
        margin-right: 0!important;
    }

    .row > .blink {
        width: 50px!important;
        height: 50px!important; 
        border-radius: 100%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: #00E5FF;
        cursor: pointer;
        bottom: 20px!important;
        right: 20px!important;
        z-index: 3;
    }
}