@media (max-width: 1199px) {
    /* hamburger item */
    .hamburger-item {
        width: 50px;
        height: 30px;
        display: flex;
        margin-right: 2%;
        cursor: pointer;
        align-items: center;
        position: relative;
        justify-content: center;
        transition: all .5s ease-in-out;
        z-index: 1;
    }

    .hamburger-item .item-line-2 {
        width: 50px;
        height: 6px;
        border-radius: 5px;
        background: url(../assets/images/l2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .5s ease-in-out;
        position: relative;
    }

    .hamburger-item .item-line-1 {
        width: 50px;
        height: 6px;
        border-radius: 5px;
        background: url(../assets/images/l1.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .5s ease-in-out;
        position: absolute;
        transform: translateY(-16px);
    }

    .hamburger-item .item-line-3 {
        width: 50px;
        height: 6px;
        border-radius: 5px;
        background: url(../assets/images/l3.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .5s ease-in-out;
        position: absolute;
        transform: translateY(16px);
    }
    /* hamburger-item animation */
    .open .item-line-2 {
        transform: translateX(-20px);
        opacity: 0;
    }

    .hamburger-item.open .item-line-1 {
        transform: rotate(45deg);
    }

    .hamburger-item.open .item-line-3 {
        transform: rotate(-45deg);
    }

    .hamburger .navbar {
        position: relative;
    }

    /* hamburger */
    .hamburger {
        width: 100%;
        height: calc(100vh - 109px);
        position: fixed;
        top: 109px;
        z-index: 100;
        background: transparent;
        display: block;
        transform: translate3d(120vw, 0, 0);
        filter: drop-shadow(-2px 6px 40px rgba(77, 77, 77, 0.445));
    }

    .hamburger>ul {
        overflow: scroll;
        padding-bottom: 100px;
    }

    .hamburger .navbar {
        position: relative;
    }

    .hamburger .bg-img {
        height: 801px;
        top: 0;
        width: 100%!important;
        background: url(../assets/illustrations/hamburger.svg);
        background-position: 0 0;
        background-size: cover;
        position: absolute;
        z-index: -1;
    }

    .hamburger .site-tools{
        width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto 0 auto;
    }
    
    .hamburger .login, .hamburger .signup{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: proxima-nova-regular;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .hamburger .login:hover{
        color: #FF6400;
        transition: 0.2s all;
    }
    
    .hamburger .signup{
        width: 189px;
        height: 75px;
        background: #03a9f4;
        color: #ffffff;
        font-size: 27px;
        border-radius: 3px 3px 3px 3px; 
        transition: 0.2s all;
    }
    
    .hamburger .login{
        width: 149px;
        height: 75px;
        background: #ffffff;
        color: #03a9f4;
        font-size: 27px;
        border-radius: 3px 3px 3px 3px; 
        transition: 0.2s all;
    }
    
    .hamburger .signup:hover{
        background: #FF6400;
        transition: 0.2s all;
    }
    
    .hamburger .lang-bar{
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        padding: 7.5px;
        margin-left: 20px;
    }
    
    .hamburger .lang-bar>span{
        color: #000000;
        font-family: proxima-nova-regular;
        font-size: 25px;
        display: flex;
        align-items: center;
    }

    .hamburger .lang-bar .down {
        width: 10px;
        height: 5px;
        background: url(../assets/images/down-black.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 5px;
    }
    
    .hamburger .lang-bar .bottom {
        width: 10px;
        height: 5px;
        background: url(../assets/images/down-blue.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 5px;
    }
    
    .hamburger .lang-bar ul{
        position: absolute;
        padding: 3px;
        border-radius: 3px 3px 3px 3px;
        margin: -3px 0 0 0;
        z-index: 2;
        display: none;
        line-height: 1.2em;
    }
    
    .hamburger .lang-bar ul a{
        padding: 4.5px;
        border-radius: 3px 3px 3px 3px;
        color: #000000;
        font-family: proxima-nova-regular;
        transition: 0.1s;
        font-size: 27px;
    }
    
    .hamburger .lang-bar ul a:hover{
        background: #03A9F4;
        color: white;
        transition: 0.1s;
    }

    .hamburger li ul {
        width: 230px;
        margin: 30px auto 0 auto;
    }

    .hamburger li ul li {
        margin-top: 15px;
    }

    .hamburger li ul li a {
        font-size: 37px;
        font-family: proxima-nova-regular;
        color: #233D63;
        transition: 0.2s;
    }

    .hamburger li ul li a:hover {
        color: #03A9F4;
        transition: 0.2s;
    }

    .hamburger .social{
        width: 146px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 100px auto 0 auto;
        transform: scale(1.5);
    }

    .hamburger .social > a > div{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid #E3E3E3;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
    }

    .hamburger .social .yt .yt-img {
        width: 17.93px!important;
        height: 13.15px!important;
        background: url(../assets/images/youtube.svg);
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        flex-shrink: 0;
        border: none;
        border-radius: 0;
    }

    .hamburger .social .fb .fb-img {
        width: 6.07px!important;
        height: 13px!important;
        background: url(../assets/images/facebook.svg);
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        flex-shrink: 0;
        border: none;
        border-radius: 0;
    }

    .hamburger .social .ig .ig-img {
        width: 13.12px!important;
        height: 13px!important;
        background: url(../assets/images/instagram.svg);
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        flex-shrink: 0;
        border: none;
        border-radius: 0;
    }

    .hamburger .social .yt:hover{
        background: #FF3A46;
    } 

    .hamburger .social .yt:hover .yt-img{
        background: url(../assets/images/Youtube_hovered.svg);
    } 

    .hamburger .social .fb:hover{
        background: #3D82F0;
    } 

    .hamburger .social .fb:hover .fb-img{
        background: url(../assets/images/facebook_hovered.svg);
    } 

    .hamburger .social .ig:hover{
        background: #F10E8F;
    }

    .hamburger .social .ig:hover .ig-img{
        background: url(../assets/images/instagram_hovered.svg);
    }
}

@media (max-height: 1000px) and (max-width: 600px) {
    /* hamburger item */
    .navbar .hamburger-item {
        transform: scale(0.7);
    }


    /* hamburger */
    .hamburger {
        top: 70px;
        height: calc(100vh - 70px);
    }

    .hamburger .bg-img {
        height: 541px;
    }

    .hamburger > ul {
        height: min-content;
    }

    .hamburger .site-tools {
        width: 280px;
    }
    
    .hamburger .login, .hamburger .signup{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: proxima-nova-regular;
    }

    .hamburger .login:hover{
        color: #FF6400;
        transition: 0.2s all;
    }
    
    .hamburger .signup{
        width: 89px;
        height: 40px;
        background: #03a9f4;
        color: #ffffff;
        font-size: 18px;
        border-radius: 3px 3px 3px 3px; 
        transition: 0.2s all;
    }
    
    .hamburger .login{
        width: 69px;
        height: 40px;
        background: #ffffff;
        color: #03a9f4;
        font-size: 18px;
        border-radius: 3px 3px 3px 3px; 
        transition: 0.2s all;
    }
    
    .hamburger .signup:hover{
        background: #FF6400;
        transition: 0.2s all;
    }
    
    .hamburger .lang-bar{
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        padding: 4.5px;
        margin-left: 18px;
    }
    
    .hamburger .lang-bar>span{
        color: #000000;
        font-family: proxima-nova-regular;
        font-size: 18px;
    }
    
    .hamburger .lang-bar ul{
        position: absolute;
        padding: 3px;
        border-radius: 3px 3px 3px 3px;
        margin: -3px 0 0 0;
        z-index: 2;
        display: none;
        line-height: 1em;
    }
    
    .hamburger .lang-bar ul a{
        padding: 4.5px;
        border-radius: 3px 3px 3px 3px;
        color: #000000;
        font-family: proxima-nova-regular;
        transition: 0.1s;
        font-size: 18px;
    }
    
    .hamburger .lang-bar ul a:hover{
        background: #03A9F4;
        color: white;
        transition: 0.1s;
    }

    .hamburger li ul {
        width: max-content;
        margin: 20px auto 0 auto;
    }

    .hamburger li ul li {
        margin-top: 8px;
    }

    .hamburger li ul li a {
        font-size: 19px;
        font-family: proxima-nova-regular;
        color: #233D63;
        transition: 0.2s;
    }

    .hamburger li ul li a:hover {
        color: #03A9F4;
        transition: 0.2s;
    }

    .hamburger .social{
        transform: scale(1);
    }
}

@media (max-width: 400px) {
    /* hamburger item */
    .navbar .hamburger-item {
        transform: scale(0.6);
    }
}