/* invite-content */
.invite-content {
    width: 100%;
    max-width: 2000px;
    height: 381px;
    background: linear-gradient(90deg, #0457DC, #4B97EF);
    /* background: url(../assets/illustrations/invite-mask.svg); */
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invite-content .bg {
    position: absolute;
    width: 100%;
    height: 381px;
    max-width: 2000px;
}

.invite-content .bg .d-shape {
    width: 272px;
    height: 350px;
    background: url(../assets/images/d-shape.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    float: right;
}

.invite-content .bg .circle-shape {
    width: 300px;
    height: 381px;
    background: url(../assets/images/circle-shape.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.invite-content .text {
    font-size: 43px;
    font-family: proxima-nova-medium;
    color: #ffffff;
    margin-top: 40px;
    z-index: 1;
}

.invite-content form {
    margin-top: 30px;
    z-index: 1;
}

.invite-content form .inner {
    width: 772px;
    height: 76px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-content form .inner input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background: #FFFFFF;
    font-size: 18px;
    color: #222A41;
    font-family: proxima-nova-medium;
    outline: none;
}

.invite-content form .inner input::placeholder,  .invite-content form .inner input::-webkit-input-placeholder {
    color: #343434;
    opacity: 0.6;
    font-family: segoe-regular;
}

.invite-content form .inner .i {
    width: 30.56px;
    height: 24.42px;
    background: url(../assets/images/email.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-right: 22px;
    margin-left: 22px;
}

.invite-content form .inner button {
    width: 214px;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 27px;
    font-family: proxima-nova-regular;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(#00EBAC, #00D1F4, #00EBAC);
    background-size: 400% 400%;
    animation: animate2 8s linear infinite;
}
}

@keyframes animate2 {
    0% {background-position: 0% 400%}
    100% {background-position: 0% 0%}
}

.invite-content .or-share {
    font-size: 20px;
    font-family: proxima-nova-medium;
    color: white;
    margin-top: 25px;
    z-index: 1;
}

.invite-content .share-tools {
    width: 772px;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.invite-content .share-tools > a {
    border-radius: 40px;
}

.invite-content .share-tools > a > div {
    width: 180px;
    height: 49px;
    border: 2px solid #ffffff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    font-family: proxima-nova-regular;
    transition: all 0.15s;
}

.invite-content .share-tools > a > div .fa-facebook-f, .invite-content .share-tools > a > div .fa-facebook-messenger, .invite-content .share-tools > a > div .fa-whatsapp, .invite-content .share-tools > a > div .icofont-link {
    font-size: 15px;
    margin-right: 10px;
}

.invite-content .share-tools > a:nth-child(1) > div:hover {
    background: #ffffff;
    color: #4267B2;
}

.invite-content .share-tools > a:nth-child(2) > div:hover {
    background: #ffffff;
    color: #0078FF;
}

.invite-content .share-tools > a:nth-child(3) > div:hover {
    background: #ffffff;
    color: #128C7E;
}

.invite-content .share-tools > a:nth-child(4) > div:hover {
    background: #ffffff;
    color: #FF7300;
}

.invite-content .bg {
    position: absolute;
    width: 100%;
    height: 381px;
    max-width: 2000px;
}

.invite-content .bg .d-shape {
    width: 248px;
    height: 320px;
    background: url(../assets/images/d-shape.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    float: right;
}


@media (max-width: 1199px) {
    .invite-content .bg {
        display: none;
    }

    .invite-content .text {
        font-size: 30px;
        width: 90%;
        text-align: center;
        margin-top: 40px;
    }
    
    .invite-content form .inner {
        width: 500px;
        height: 76px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 899px) {
    .invite-content .text {
        width: 400px;
        font-size: 25px;
        margin-top: 40px;
    }

    .invite-content .inner button {
        position: absolute;
        font-size: 22px!important;
        transform: translate3d(0, 100px, 0);
    }

    .invite-content .inner {
        transform: scale(0.7) translate3d(0, -20px, 0);
    }

    .invite-content .or-share {
        transform: translate3d(0, 28px, 0);
        font-size: 15px;
    }

    .invite-content .share-tools {
        transform: translate3d(0, 30px, 0);
        width: 180px;
    }

    .invite-content .share-tools > a > div {
        width: 20px;
        height: 20px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff!important;
        background: transparent!important;
        font-family: proxima-nova-regular;
        transition: all 0.15s;
    }

    .invite-content .share-tools > a > div svg, .invite-content .share-tools > a > div i {
        font-size: 25px!important;

    }

    .invite-content .share-tools > a > div span {
        text-indent: -9999px;
    }

    .invite-content .share-tools > a i:hover, .invite-content .share-tools > a svg:hover {
        color: #FF7300!important;
        transition: all 0.2s;
    }
}

@media (max-width: 450px) {
    .invite-content .text {
        width: 300px;
        font-size: 20px;
        margin-top: 40px;
    }

    .invite-content .inner {
        transform: scale(0.6) translate3d(0, -20px, 0);
    }
}