/* start of header */
.header{
    width: 100%;
    height: 890px;
    max-width: 2000px;
    background: url(../assets/illustrations/Banner\ Illustration@2x.svg);
    background-size: 60%;
    background-position: right 0 bottom 100px;
    background-repeat: no-repeat;
}

@media (min-width: 1700px) {
    .header{
        background-size: 1000px;
    }
}

.header .bg-img{
    height: 900px;
    position: absolute;
    z-index: -1;
    width: 100%;
    background: url(../assets/illustrations/Bg0@2x.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    max-width: 2000px;
}

.header > .welcome-article{
    width: min-content;
    height: auto;
    margin-top: 143px;
    margin-left: 10%;
}

.header .welcome-text{
    width: 596px;
    height: 198px;
}

.header .welcome-text a{
    color: #ffffff;
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0px;
    font-size: 70px;
    font-family: proxima-nova-medium;
    line-height: normal;
}

.header .welcome-info{
    margin-top: 20px;
    width: 490px;
    height: 96px;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: proxima-nova-regular;
}

.header .welcome-buttons{
    margin-top: 120px;
    display: flex;
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.header .start-speaking{
    width: 165px;
    height: 50px;
    background: linear-gradient(270deg, #00EBAC, #00D1F4,#00D1F4,#00EBAC);
    border-radius: 3px 3px 3px 3px;
    display: flex;
    background-size: 400%;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.2s;
    z-index: 2;
    border: 1px solid transparent;
    box-sizing: content-box;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {background-position: 0%}
    100% {background-position: 400%}
}

.header .start-speaking::before {
    border-radius: inherit;
    width: 165px;
    height: 50px;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all 0.2s;
    box-sizing: content-box;
}

.header .start-speaking:hover::before {
    opacity: 1;
    box-sizing: content-box;
}

.header .start-speaking:hover {
    background: transparent;    
    border: 1px solid #ffffff;
}

.header .watch-video{
    width: 165px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 3px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    color: white;
    font-size: 18px;
    transition: 0.1s all;
    box-sizing: content-box;
    background-size: 400%;
    animation: animate 8s linear infinite;
}

.header .watch-video:hover{
    background: linear-gradient(270deg, #00EBAC, #00D1F4, #00D1F4, #00EBAC);
    border: 1px solid transparent;
    transition: 0.1s all;
    box-sizing: content-box;
    background-size: 400%;
    animation: animate 8s linear infinite;
}

.header .fa-play{
    font-size: 14px;
    margin-right: 10px;
}
/* end of header */

/* start of conversation content */
.conversation-content{
    width: 100%;
    height: auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.conversation-content .title{
    width: 540px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.conversation-content .title a{
    color: #222a41;
    text-decoration: underline;
    font-size: 48px;
    font-family: proxima-nova-medium;
}

.conversation-content .title span{
    width: 50px;
    height: 4px;
    background-color: #FF6400;
    border-radius: 4.5px 4.5px 4.5px 4.5px;
}

.conversation-content .inner{
    height: auto;
    width: 1060px;
    display: flex;
    justify-content: space-between;
}

.conversation-content .inner-item{
    width: 250px;
    height: 265px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 4px 4px;
}

.conversation-content .inner-item:hover{
    background: #ffffff;
    box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
    -ms-box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
    -webkit-box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
    transition: 0.2s;
}

.conversation-content .inner-item .flag{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

/* TEST --------------- */
#en{
    background: url(../assets/images/gb-2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#ru{
    background: url(../assets/images/ru-2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#de{
    background: url(../assets/images/de-2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#tr{
    background: url(../assets/images/tr-2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
/* --------------------- */

.conversation-lang{
    font-family: proxima-nova-regular;
    font-size: 20px;
    margin-top: 25px;
    color: #233D63;
}

.soon{
    opacity: 0.4;
}

.soon .coming-soon{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: #000000 url(../assets/illustrations/coming\ soon@2x.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.77;
}
/* end of conversation content */

/* start of timer content */
.timer-content {
    width: 100%;
    height: auto;
    max-width: 2000px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.timer-content .bg-img{
    position: absolute;
    background: url(../assets/illustrations/Path\ 23@2x.svg);
    background-size: cover;
    background-position: -80px bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 690px;
    z-index: -1;
    max-width: 2000px;
}

.timer-content .detail{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.timer-content .detail a{
    color: #222A41;    
    font-family: proxima-nova-medium;
    font-size: 48px;
    text-decoration-line: underline;
    margin-top: 30px;
}

.timer-content .detail span{
    color: #57667E;
    font-family: proxima-nova-regular;
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.timer-content .detail .fa-check{
    color: #FF6400;
    margin: 0 10px 0;
    font-size: 14px;
}

.timer-content .detail li{
    color: #76797E;
    font-family: proxima-nova-regular;
    font-size: 17px;
    margin-top: 15px;
}

.timer-content .detail .join{
    color: #FF6400;
    font-size: 17px;
    font-family: proxima-nova-regular;
    text-decoration: none;
    width: 190px;
    display: flex;
}

.timer-content .detail .join .j {
    text-decoration: underline;
    white-space: nowrap;
    margin: 0;
    color: #FF6400;
}

.timer-content .detail .join .fa-angle-right{
    margin-left: 5px;
    margin-top: 5px;
}

.timer-content .next-title, .timer-content #next-title{
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #233D63;
    opacity: 0.4;
}

.timer-content .timer {
    width: 570px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}

.timer-content .inner {
    width: 570px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-content .timer-item{
    width: 172px;
    height: 172px;
    border-radius: 16px;
    background: transparent linear-gradient(150deg, #6BB2F7 0%, #0457DC 90%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-content .title{
    color: #ffffff;
    font-family: segoe-regular;
    font-size: 19px;
}

.timer-content .point{
    font-size: 94px;
    font-family: segoe-regular;
    color: #ffffff;
    line-height: 1.2em;
}
/* end of timer content */

/* start of conversation-topics */
.conversation-topics {
    width: 100%;
    height: 1515px;
    max-width: 2000px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../assets/illustrations/Bg1@2x.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    overflow: hidden;
    z-index: 1;
}

.conversation-topics .bg {
    width: 100%;
    height: 1515px;
    max-width: 2000px;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
}

@media (min-width: 1701px) {
    .conversation-topics {
        width: 100%;
        height: 90vw;
        max-width: 2000px;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../assets/illustrations/Bg1@2x.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;   
        overflow: hidden;
        z-index: 1;
    }
    
    .conversation-topics .bg {
        width: 100%;
        height: 90vw;
        max-width: 2000px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .conversation-topics .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/right-o.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transform: translate3d(40vw, -20px, 0)!important;
        position: absolute;
    }
    
    .conversation-topics .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/left-o.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transform: translate3d(-45vw, 20px, 0)!important;
        position: absolute;
        bottom: 0!important;
    }

    .conversation-topics > span {
        font-size: 16px;
        font-family: proxima-nova-regular;
        color: #ffffff;
        opacity: 0.4;
        margin-top: 14vw!important;
        letter-spacing: 3px;
    }
}

.conversation-topics .bg-o-right {
    width: 410px;
    height: 450px;
    background: url(../assets/images/right-o.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate3d(40vw, -22px, 0);
    position: absolute;
}

.conversation-topics .bg-o-left {
    width: 280px;
    height: 307px;
    background: url(../assets/images/left-o.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate3d(-44vw, 1228px, 0);
    position: absolute;
}

@media (max-width: 1600px) {
    .conversation-topics .bg-o-left {
        transform: translate3d(-44vw, 1213px, 0);
    }
}

@media (max-width: 1450px) {
    .conversation-topics .bg-o-left {
        transform: translate3d(-44vw, 1210px, 0);
    }
}

@media (max-width: 1350px) {
    .conversation-topics .bg-o-left {
        transform: translate3d(-44vw, 1207px, 0);
    }
}

@media (max-width: 1250px) {
    .conversation-topics .bg-o-left {
        transform: translate3d(-44vw, 1204px, 0);
    }
}

@media (min-width: 1701px) {
    .conversation-topics .bg-o-right {
        transform: translate3d(680px, -22px, 0);
    }

    .conversation-topics .bg-o-left {
        transform: translate3d(-780px, 1223px, 0);
    }
}

.conversation-topics > span {
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #ffffff;
    opacity: 0.4;
    margin-top: 180px;
    letter-spacing: 3px;
}

.conversation-topics > .t {
    font-size: 48px;
    font-family: proxima-nova-medium;
    color: #F9FBFF!important;
    width: 612px;
    text-decoration: underline!important;
    text-align: center;
    margin-top: 25px;
    z-index: 1;
}

.conversation-topics .items {
    width: 1150px;
    height: 670px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    z-index: 1;
}

.conversation-topics .item {
    width: 550px;
    height: 310px;
    border: 1px solid #418BE9;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    transition: all 0.2s;
}

.conversation-topics .item:hover {
    background: #ffffff;
}
.conversation-topics .item .lang {
    font-size: 37px;
    font-family: segoe-bold;
    color: #ffffff;
    margin: 30px 30px 0 30px;
    transition: all 0.2s;
    font-weight: 900;
}

.conversation-topics .item:hover .lang {
    color: #03A9F4;
}


.conversation-topics .item .inner {
    margin-top: 30px;
}

.conversation-topics .item .inner .title {
    font-size: 25px;
    width: 300px;
    font-family: proxima-nova-regular;
    color: white;
    transition: all 0.2s;
}

.conversation-topics .item:hover .title {
    color: #2C3E5C;
}

.conversation-topics .item ul {
    margin-top: 10px;
}

.conversation-topics .item ul li {
    margin-top: 10px;
    color: white;
}

.conversation-topics .item:hover li {
    color: #000000;
}

.conversation-topics .inner span {
    font-size: 17px;
    font-family: proxima-nova-regular;
    opacity: 0.8;
    transition: all 0.2s;
}

.conversation-topics .fa-check {
    margin-right: 6px;
    font-size: 14px;
    transition: all 0.2s;
}

.conversation-topics .item:hover .fa-check {
    color: #FF6400;
}

.conversation-topics .item:nth-child(3), .conversation-topics .item:nth-child(4) {
    margin-top: 45px;
} 

.conversation-topics .more a {
    font-size: 16px;
    font-family: proxima-nova-medium;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    transition: all 0.2s;
}

.more .fa-angle-right {
    color: white;
    font-size: 13px;
    margin-left: 9px;
    margin-top: 5px;
    transition: all 0.2s;
}

.conversation-topics .item:hover .more a, .conversation-topics .item:hover .more .fa-angle-right {
    color: #ff6400;
}

.conversation-topics .item:hover .more a {
    border-bottom: 1px solid #FF6400;
}

.all-conversations {
    width: 220px!important;
    height: 60px;
    border-radius: 29px 29px 29px 29px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 19px!important;
    font-family: proxima-nova-regular;
    margin: 100px auto 0 auto!important;
    text-decoration: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    z-index: 1;
}

.all-conversations:hover {
    background: #ffffff;
    color: #0457DC;
}
/* end of conversation-topics */

/* start of how it works */
.how-it-works {
    width: 100%;
    height: auto;
    margin-top: 150px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-it-works .proccess {
    width: 1187px;
    height: 425px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;

}

.how-it-works .proccess .img {
    width: 414px;
    height: 300px;
}

.how-it-works .proccess .detail {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works .detail .blink {
    width: 50px!important;
    height: 50px!important; 
    border-radius: 100%;
    flex-shrink: 0;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works .proccess:nth-child(1) .blink .anim {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 100%;
    animation: pulsate 1.3s ease-out;
    animation-iteration-count: infinite; 
    border: 10px solid #E2F1FE;
    opacity: 0;
}

.how-it-works .proccess:nth-child(2) .blink .anim {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 100%;
    animation: pulsate 1.3s ease-out;
    animation-iteration-count: infinite; 
    border: 10px solid #FFE0E0;
    opacity: 0;
}

.how-it-works .proccess:nth-child(3) .blink .anim {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 100%;
    animation: pulsate 1.3s ease-out;
    animation-iteration-count: infinite; 
    border: 10px solid #CCFAFF;
    opacity: 0;
}

@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0; }
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.how-it-works .proccess:nth-child(1) .blink {
    background: #70B8F9;
}

.how-it-works .proccess:nth-child(2) .blink {
    background: #FF6464;
}

.how-it-works .proccess:nth-child(3) .blink {
    background: #00E5FF;
}

.how-it-works .proccess:nth-child(1) .inner {
    width: 20px;
    height: 20px;
    background: url(../assets/images/file.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.how-it-works .proccess:nth-child(2) .inner {
    width: 20px;
    height: 20px;
    background: url(../assets/images/mark.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.how-it-works .proccess:nth-child(3) .inner {
    width: 20px;
    height: 20px;
    background: url(../assets/images/round.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.how-it-works .detail .text {
    width: 480px;
    font-size: 40px;
    font-family: proxima-nova-medium;
    color: #233D63;
    text-decoration: underline;
}

.how-it-works .proccess:nth-child(1) .img {
    background: url(../assets/illustrations/undraw_researching_22gp.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.how-it-works .proccess:nth-child(2) .img {
    background: url(../assets/illustrations/5@2x.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.how-it-works .proccess:nth-child(3) .img {
    background: url(../assets/illustrations/Image@3x.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.how-it-works .proccess:nth-child(1), .how-it-works .proccess:nth-child(2) {
    margin-bottom: 80px;
}

.dotted {
    width: 700px;
    height: 1000px;
    position: absolute;
    background: url(../assets/illustrations/dotted.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 350px;
    z-index: 1;
}
/* end of how it works */

/* start of prices */
.price {
    width: 100%;
    height: 1366px;
    background: transparent;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    max-width: 2000px;
}

.price .bg-shapes {
    width: 100%;
    height: 1366px;
    background: transparent;
    z-index: 0;
    max-width: 1400px;
    position: absolute;
}

.price .bg-shapes .shape-5 {
    width: 40px;
    height: 40px;
    background: url(../assets/images/Rectangle\ 3@3x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20%;
    margin-top: 20px;
}

.price .bg-shapes .shape-6 {
    width: 8px;
    height: 8px;
    border: 2px solid #757575;
    border-radius: 100%;
    margin-right: 18%;
    float: right;
    margin-top: 80px;
}

.price .bg-shapes .shape-7 {
    width: 8px;
    height: 8px;
    border: 2px solid #757575;
    border-radius: 100%;
    margin-left: 2%;
    float: left;
    margin-top: 880px;
}

.price .bg-shapes .shape-8 {
    width: 21px;
    height: 21px;
    background: url(../assets/images/shape-4.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin-top: 1080px;
    margin-right: -18%;
}

.price .bg-img {
    width: 100%;
    height: 1366px;
    background: url(../assets/illustrations/Path\ 29@3x.svg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    max-width: 2000px;
}

 @media (max-width: 1400px) {
    .price .bg-img {
        background-position: right -80px top;
    }
 }

.price .heading {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price .heading .title {
    font-size: 18px;
    color: #FF4141;
    font-family: proxima-nova-regular;
}

.price .heading > a {
    font-size: 48px;
    color: #233D63;
    font-family: proxima-nova-medium;
    text-decoration: underline;
    width: 650px;
    text-align: center;
    margin-top: 50px;
    z-index: 1;
}

.price .prices {
    width: 1150px;
    display: flex;
    margin-top: 100px;
    z-index: 1;
}

.price .item {
    width: 350px;
    height: 695px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: #8d8d8d25 1px 1px 10px;
    -ms-box-shadow: #8d8d8d25 1px 1px 10px;
    -webkit-box-shadow: #8d8d8d25 1px 1px 10px;
    box-sizing: content-box;
}

.price .most-title {
    font-size: 15px;
    font-family: proxima-nova-regular;
    color: white;
    background: #3D82F0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 352px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -36px;
    border: 1px solid #3D82F0;
}

.price .item:nth-child(1) {
    border-top: 6px solid #00E1CE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.price .item:nth-child(2) {
    border-top: 6px solid #FFCD63;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.price .item .package-name {
    font-size: 18px;
    font-family: proxima-nova-medium;
    color: #202020;
    margin-top: 65px;
}

.price .item .package-price {
    font-size: 60px;
    font-family: proxima-nova-medium;
    color: #FF4141;
    margin-top: 15px;
}

.price .item .normally {
    font-size: 15px;
    font-family: proxima-nova-regular;
    color: #CFCFCF;
}

.price .item .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    height: 280px;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

.price .item .features > a {
    font-size: 24px;
    font-family: proxima-nova-regular;
    text-decoration: underline;
    color: #2F3442;
    margin-top: 30px;
}

.price .item .features ul {
    margin-bottom: 40px;
}

.price .item .features ul li {
    font-size: 17px;
    font-family: proxima-nova-regular;
    color: #233D63;
    margin-top: 15px;
    text-align: center;
    opacity: 0.7;
}

.price .item .choose-plan {
    width: 170px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    font-size: 17px;
    font-family: proxima-nova-regular;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    color: #233D63;
    position: relative;
    z-index: 2;
    background: transparent linear-gradient(#ffffff, #ffffff);    
    margin-top: 30px;
    background-size: 400%;
    animation: animate 8s linear infinite;
}

.price .item .choose-plan::before {
    border-radius: inherit;
    content: 'Choose Plan';   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: proxima-nova-regular;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: 1;
    transition: opacity 0.2s;
    background: transparent linear-gradient(90deg, #00D4ED, #00E9B0,#00E9B0, #00D4ED);  
    background-size: 400%;
    animation: animate 8s linear infinite;  
}

.price .item .choose-plan:hover::before {
    opacity: 1;
}

.price .item .info {
    font-size: 17px;
    font-family: proxima-nova-regular;
    color: #233D63;
    opacity: 0.35;
    margin-top: 20px;
}

.price .item del {
    text-decoration: line-through;
}
/* end of prices */

/* start of blog-content */
.blog-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
    padding-bottom: 100px;
}

.blog-content > .title{
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.blog-content > .title a{
    color: #222a41;
    text-decoration: underline;
    font-size: 48px;
    font-family: proxima-nova-medium;
    text-align: center;
}

.blog-content > .title span{
    width: 50px;
    height: 4px;
    background-color: #FF6400;
    border-radius: 4.5px 4.5px 4.5px 4.5px;
}

.blog-content .tools {
    width: 1154px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.blog-content .tools a {
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #153B99;
    margin-left: 10px;
    transition: all 0.2s;
}

.blog-content .tools a:hover {
    color: #FF6400;
}

.blog-content .tools a span {
    text-decoration: underline;
}

.blog-content .tools a .fa-angle-right {
    font-size: 13px;
}

.blog-content .tools .carousel-buttons {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-content .tools .carousel-buttons .prev {
    font-size: 20px;
    color: #979797;
    cursor: pointer;
    transition: all 0.1s;
}

.blog-content .tools .carousel-buttons .next {
    font-size: 40px;
    color: #153B99;
    cursor: pointer;
}

.blog-content .tools button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.blog-content .blog-carousel {
    width: 1154px;
    height: auto;
    margin-top: 60px;
    overflow: hidden!important;
    display: flex;
}

.blog-content .blog-carousel .blog-item {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-content .carousel-group {
    width: 1154px!important;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-grow: 0!important;
    flex-shrink: 0!important;
}

.blog-content .carousel-group:nth-child(1) {
    transform: translate(0, 0);
}

.blog-content .carousel-group:nth-child(2) {
    transform: translate(1154px, 0);
}

.blog-content .blog-carousel .blog-item .img {
    width: 327px;
    height: 201px;
    border-radius: 24px 24px 24px 24px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important
}

#test-1 .img {
    background: url(../test-img/1.png);
}

#test-2 .img {
    background: url(../test-img/2.png);
}

#test-3 .img {
    background: url(../test-img/3.png);
}

.blog-content .blog-carousel .blog-item .title {
    font-size: 24px;
    font-family: proxima-nova-medium;
    color: #2C3E5C;
    text-align: start;
    width: 300px;
    margin-left: -25px;
    margin-top: 20px;
}

.blog-content .blog-carousel .blog-item .text {
    width: 327px;
    height: auto;
    font-size: 17px;
    font-family: proxima-nova-regular;
    color: #343434;
    margin-top: 20px;
    margin-left: 0px;
    opacity: 0.6;
}

.blog-content .blog-carousel .blog-item .read-more {
    color: #FF6400;
    font-size: 16px;
    font-family: proxima-nova-regular;
    align-self: flex-start;
    margin-left: 11px;
    transition: all 0.2s;
    margin-top: 18px;
}

.blog-content .blog-carousel .blog-item .read-more:hover {
    color: #153B99;
}

.blog-content .blog-carousel .blog-item .read-more span {
    margin-bottom: 3px;
    text-decoration: underline;
}

.blog-content .blog-carousel .blog-item .read-more .fa-angle-right {
    font-size: 13px;
}


/* end of blog-content */

/* start of social-posts */
.social-posts {
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, #0457DC, #4B97EF);
    margin-top: 0px;
    max-width: 2000px;
    display: flex;
    justify-content: center;
}

.social-posts .bg {
    position: absolute;
    width: 100%;
    height: 500px;
    max-width: 2000px;
}

.social-posts .bg .d-shape {
    width: 350px;
    height: 450px;
    background: url(../assets/images/d-shape.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    float: right;
}

.social-posts .bg .circle-shape {
    width: 365px;
    height: 500px;
    background: url(../assets/images/circle-shape.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    float: left;
}

.social-posts > div:not(.bg) {
    width: 600px;
    height: auto;
    z-index: 1;
}

.social-posts > div .social-name {
    font-size: 36px;
    font-family: proxima-nova-medium;
    color: #ffffff;
    margin-top: 80px;
}

.social-posts > div .follow-subcribe {
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #ffffff;
    transition: all 0.2s;
}

.social-posts > div .follow-subcribe:hover {
    color: #FF6400;
}

.social-posts > div .follow-subcribe span {
    text-decoration: underline;
}

.social-posts > div .follow-subcribe .fa-angle-right {
    font-size: 13px;
    margin-left: 5px;
}

.social-posts > .youtube-posts {
    margin-right: 40px;
}

.social-posts > div .social-carousel {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.social-posts > div .social-carousel .item {
    width: 190px;
    height: 200px;
    background: #ffffff;
}

@media (max-width: 1300px) {
    .social-posts > div .social-carousel .item {
        width: 170px;
        height: 200px;
        background: #ffffff;
    }


    .social-posts > div:not(.bg) {
        width: 540px;
        height: auto;
        z-index: 1;
    }

    .social-posts > div .social-carousel {
        width: 540px;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

.social-posts > div .social-carousel .item .video {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-posts > div .social-carousel .item .img {
    width: 100%;
    height: 110px;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat;
}

.social-posts > div .social-carousel .item #test {
    background: url(../test-img/test-img.jpg);
}

.social-posts > div .social-carousel .item .video .play-button {
    width: 26px;
    height: 28px;
    background: url(../assets/images/play.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.social-posts > div .social-carousel .item .video .video-thumbnail {
    width: 100%!important;
    height: 100%!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.social-posts > div .social-carousel .item .title {
    font-size: 13px;
    font-family: proxima-nova-medium;
    color: #2C3E5C;
    padding: 7px;
}

.social-posts > div .social-carousel .item .speakmate {
    font-size: 9px;
    font-family: proxima-nova-medium;
    color: #2C3E5C;
    opacity: 0.6;
    padding-left: 7px;
}

.social-posts > div .social-carousel .item .tools {
    width: 100%;
    height: auto;
    margin-top: 2px;
}

.social-posts > div .social-carousel .item .tools .views {
    width: 15px;
    height: 10px;
    background: url(../assets/images/show.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-left: 5px;
    float: left;
    margin-top: 3px;
}

.social-posts > div .social-carousel .item .tools .view-count {
    color: #2C3E5C;
    font-size: 10px;
    font-family: proxima-nova-medium;
    margin-left: 5px;
    opacity: 0.6;
    margin-top: 2px;
    float: left;
}

.social-posts > div .social-carousel .item .tools .heart {
    width: 10px;
    height: 8px;
    background: url(../assets/images/heart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-left: 8px;
    float: left;
    margin-top: 4.5px;
}

.social-posts > div .social-carousel .item .tools .heart-count {
    color: #2C3E5C;
    font-size: 10px;
    font-family: proxima-nova-medium;
    margin-left: 5px;
    opacity: 0.6;
    margin-top: 2px;
    float: left;
}

.social-posts > div .social-carousel .item .tools .comment {
    width: 10px;
    height: 8px;
    background: url(../assets/images/comment.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-left: 12px;
    float: left;
    margin-top: 4.5px;
}

.social-posts > div .social-carousel .item .tools .comment-count {
    color: #2C3E5C;
    font-size: 10px;
    font-family: proxima-nova-medium;
    margin-left: 5px;
    opacity: 0.6;
    margin-top: 2px;
    float: left;
}

.social-posts > div .social-carousel .item .tools .time-left {
    color: #2C3E5C;
    font-size: 10px;
    font-family: proxima-nova-medium;
    margin-right: 10px;
    float: right;
    opacity: 0.6;
    margin-top: 2px;
}
/* end of social-posts */

/* start of youtube-modal */
.youtube-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #00000069;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center!important;
    align-items: center!important;
    display: none;
}

.youtube-modal iframe {
    width: 80%;
    height: 80%;
    margin: 0;
}

.youtube-modal .close-modal {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #FF0000;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
/* end of youtube-modal */


/* TABLET VIEW */
@media (max-width: 1199px) {
/* header */
    .header {
        display: flex;
        background: url(../assets/illustrations/Banner\ Illustration@2x.svg);
        background-size: 40%;
        background-position: right bottom 50px;
        background-repeat: no-repeat;
        height: 750px;
        margin-top: 109px;
    }

    .header .bg-img {
        height: 900px;
        top: 0;
        width: 100%!important;
        background: url(../assets/illustrations/Bg0@2x.svg);
        background-position: 0 0;
        background-size: cover;
    }

    .header .welcome-article {
        margin: 30px 0 0 20%;
    }

    .header .welcome-text, .header .welcome-info {
        width: 450px;
        display: flex;
        justify-content: center;
    }

    .header .welcome-buttons {
        width: 450px;
        margin-top: 80px;
    }

    .header .welcome-text a {
        font-size: 60px;
    }



    /* conversation-content */
    #mobile {
        display: flex;
    }

    #mobile .title{
        width: 540px;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    
    #mobile .title a{
        color: #222a41;
        text-decoration: underline;
        font-size: 35px;
        font-family: proxima-nova-medium;
    }
    
    #mobile .title span{
        width: 40px;
        height: 2px;
        background-color: #FF6400;
        border-radius: 4.5px 4.5px 4.5px 4.5px;
    }

    .owl-one {
        width: 550px;
        height: 250px;
    }

    #mobile .mobile-item{
        width: 170px;
        height: 220px;
        transition: 0.2s;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 4px 4px 4px 4px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #mobile .mobile-item:hover{
        background: #ffffff;
        box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
        -ms-box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
        -webkit-box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
        transition: 0.2s;
    }
    
    #mobile .mobile-item .flag{
        width: 90px;
        height: 90px;
        border-radius: 100%;
    }

    /* timer-content */
    .timer-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 40px;
    }

    .timer-content #next-title {
        display: block;
        margin-bottom: 30px;
    }

    .timer-content {
        height: auto;
    }

    .timer-content .timer {
        width: 500px;
        margin-top: 0;
    }

    .timer-content .inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .timer-content .timer-item{
        width: 150px;
        height: 150px;
        border-radius: 8px;
    }
    
    .timer-content .bg-img{
        position: absolute;
        background: url(../assets/illustrations/Path\ 23@2x.svg);
        background-size: cover;
        background-position: -120px 0;
        background-repeat: no-repeat;
        width: 100%;
        height: 980px;
        z-index: -1;
    }

    .timer-content .detail {
        width: 430px;
    } 

    /* conversation-topics */
    .conversation-topics .items {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .conversation-topics .items .item:not(:nth-child(1)):not(:nth-child(2)) {
        display: none;
    }

    .conversation-topics .bg {
        display: none;
    }

    /* how it works */
    .how-it-works {
        width: 100%;
        height: auto;
    }
    
    .how-it-works .proccess {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    .how-it-works .proccess:nth-child(odd) {
        flex-direction: column-reverse;
    }
    
    .how-it-works .proccess:nth-child(1), .how-it-works .proccess:nth-child(2) {
        margin-bottom: 180px;
    }
    
    .how-it-works .proccess .img {
        margin-top: 40px;
    }
    
    .how-it-works .detail .text {
        width: 450px;
    }

    .dotted {
        display: none;
    }

    /* price content */
    .price {
        height: 1050px;
    }

    .price .heading .title {
        margin-top: 50px;
    }

    .price .bg-shapes {
        display: none;
    }
    
    .price .bg-img {
        height: 1050px;
    }

    .prices {
        display: none!important;
    }

    .price .heading {
        margin-top: 90px;
    }

    .price .heading > a {
        margin-top: 30px;
    }

    .price .mobile-prices {
        width: 600px;
        height: 585px;
        margin-top: 100px;
        display: flex;
    }
    
    .price .item {
        width: 270px;
        height: 560px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff;
        box-shadow: #8d8d8d25 1px 1px 10px;
        -ms-box-shadow: #8d8d8d25 1px 1px 10px;
        -webkit-box-shadow: #8d8d8d25 1px 1px 10px;
    }
    
    .price .most-title {
        font-size: 12px;
        font-family: proxima-nova-regular;
        color: white;
        background: #3D82F0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 272px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        margin-top: 0;
        border: 1px solid #3D82F0;
    }

    .price #most .package-name {
        margin-top: 50px!important;
    }
    
    .price #one {
        border-top: 6px solid #00E1CE!important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .price #two {
        border-top: 6px solid #FFCD63!important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .price .item .package-name {
        font-size: 14px;
        font-family: proxima-nova-medium;
        color: #202020;
        margin-top: 30px;
    }
    
    .price .item .package-price {
        font-size: 47px;
        font-family: proxima-nova-medium;
        color: #FF4141;
        margin-top: 15px;
    }
    
    .price .item .normally {
        font-size: 12px;
        font-family: proxima-nova-regular;
        color: #CFCFCF;
    }
    
    .price .item .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        width: 100%;
        height: 240px;
        border-top: 1px solid #F1F1F1;
        border-bottom: 1px solid #F1F1F1;
    }
    
    .price .item .features > a {
        font-size: 19px;
        font-family: proxima-nova-regular;
        text-decoration: underline;
        color: #2F3442;
        margin-top: 30px;
    }
    
    .price .item .features ul {
        margin-bottom: 40px;
    }
    
    .price .item .features ul li {
        font-size: 13px;
        font-family: proxima-nova-regular;
        color: #233D63;
        margin-top: 15px;
        text-align: center;
        opacity: 0.7;
    }
    
    .price .item .choose-plan {
        width: 137px;
        height: 40px;
        border-radius: 25px 25px 25px 25px;
        font-size: 14px;
        font-family: proxima-nova-regular;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #F2F2F2;
        color: #233D63;
        position: relative;
        z-index: 2;
        background: transparent linear-gradient(#ffffff, #ffffff);    
        margin-top: 30px;
    }
    
    .price .item .choose-plan::before {
        border-radius: inherit;
        content: 'Choose Plan';   
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: proxima-nova-regular;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        z-index: 1;
        transition: opacity 0.2s;
        background: transparent linear-gradient(90deg, #00D4ED, #00E9B0);    
    }
    
    .price .item .choose-plan:hover::before {
        opacity: 1;
    }
    
    .price .item .info {
        font-size: 12px;
        font-family: proxima-nova-regular;
        color: #233D63;
        opacity: 0.35;
        margin-top: 20px;
    }
    
    .price .item del {
        text-decoration: line-through;
    }

    /* blog-content */
    #blog-mobile {
        display: block;
        width: 750px;
    }

    .blog-content .shapes {
        display: none;
    }

    .blog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .blog-content > .title{
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .blog-content > .title span{
        width: 50px;
        height: 4px;
        background-color: #FF6400;
        border-radius: 4.5px 4.5px 4.5px 4.5px;
    }
    
    .blog-content .tools {
        width: 750px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
    
    .blog-content .tools a {
        font-size: 16px;
        font-family: proxima-nova-regular;
        color: #153B99;
        margin-left: 10px;
    }
    
    .blog-content .tools a span {
        text-decoration: underline;
    }
    
    .blog-content .tools a .fa-angle-right {
        font-size: 13px;
    }
    
    .blog-content .tools .carousel-buttons {
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .blog-content .tools .carousel-buttons .prev {
        font-size: 20px;
        color: #979797;
        cursor: pointer;
        transition: all 0.1s;
    }
    
    .blog-content .tools .carousel-buttons .next {
        font-size: 40px;
        color: #153B99;
        cursor: pointer;
    }
    
    .blog-content .blog-carousel {
        width: 1154px;
        height: auto;
        margin-top: 60px;
        overflow: hidden!important;
        display: flex;
    }
    
    .blog-content .blog-carousel .blog-item {
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .blog-content .carousel-group {
        width: 1154px!important;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
        flex-grow: 0!important;
        flex-shrink: 0!important;
    }

    .social-posts > .youtube-posts {
        margin-right: 0;
    }
    
    
    .blog-content .carousel-group:nth-child(1) {
        transform: translate(0, 0);
    }
    
    .blog-content .carousel-group:nth-child(2) {
        transform: translate(1154px, 0);
    }
    
    .blog-content .blog-carousel .blog-item .img {
        width: 327px;
        height: 201px;
        border-radius: 24px 24px 24px 24px;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center!important
    }
    
    #test-1 .img {
        background: url(../test-img/1.png);
    }
    
    #test-2 .img {
        background: url(../test-img/2.png);
    }
    
    #test-3 .img {
        background: url(../test-img/3.png);
    }
    
    .blog-content .blog-carousel .blog-item .title {
        font-size: 24px;
        font-family: proxima-nova-medium;
        color: #2C3E5C;
        text-align: start;
        width: 300px;
        margin-left: -25px;
        margin-top: 20px;
    }
    
    .blog-content .blog-carousel .blog-item .text {
        width: 327;
        height: 124px;
        font-size: 17px;
        font-family: proxima-nova-regular;
        color: #343434;
        margin-top: 20px;
        margin-left: 10px;
        opacity: 0.6;
    }
    
    .blog-content .blog-carousel .blog-item .read-more {
        color: #FF6400;
        font-size: 16px;
        font-family: proxima-nova-regular;
        align-self: flex-start;
        margin-left: 10px;
    }
    
    .blog-content .blog-carousel .blog-item .read-more span {
        margin-bottom: 3px;
        text-decoration: underline;
    }
    
    .blog-content .blog-carousel .blog-item .read-more .fa-angle-right {
        font-size: 13px;
    }
    
    .shapes {
        width: 100%;
        height: 540px;
        position: absolute;
        margin-top: 800px;
        display: flex;
        justify-content: space-between;
        z-index: -1;
        overflow: hidden;
    }
    
    .shape-1 {
        width: 420px;
        height: 420px;
        margin-left: -210px;
        margin-top: 50px;
        position: relative;
        background: url(../assets/images/shape-1.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .shape-2 {
        width: 350px;
        height: 350px;
        margin-right: 170;
        margin-top: 190px;
        position: relative;
        background: url(../assets/images/shape-2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        float: right;
    }

    /* social-posts */

    .social-posts {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        padding-bottom: 100px!important;
        margin-top: 50px;
        background-position: center;
    }

    .social-posts > div, .social-posts .social-carousel {
        width: 550px!important;
    }

    .social-posts .bg {
        display: none;
    }
}

/* MOBILE VIEW */
@media (max-width: 767px) {
    /* header */
    .header {
        height: 700px;
        background-size: 50%;
        background-position: center bottom 10px;
    }

    .welcome-article > div {
        max-width: 400px;
        width: 80%;
    }

    .welcome-article {
        width: 100%!important;
        margin-left: 0!important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome-article .welcome-text {
        height: min-content;
        margin-top: 40px;
    }

    .welcome-article .welcome-text a {
        font-size: 50px;
    }

    /* conversation-content */
    .conversation-content {
        margin-top: 200px;
    }

    /* conversation-topics */
    .conversation-topics > .t{
        font-size: 35px;
        width: 500px;
        text-align: center;
    }

    /* price-content */
    .price .heading > a {
        font-size: 30px;
        width: 380px;
    }

    .price .mobile-prices {
        width: 400px;
    }

    /* blog-content */

    #blog-mobile {
        display: block;
        width: 310px;
    }

    .blog-content .shapes {
        display: none;
    }

    .blog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .blog-content > .title{
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .blog-content > .title a {
        font-size: 30px;
    }
    
    .blog-content > .title span{
        width: 50px;
        height: 4px;
        background-color: #FF6400;
        border-radius: 4.5px 4.5px 4.5px 4.5px;
    }
    
    .blog-content .tools {
        width: 310px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    
    .blog-content .tools a {
        font-size: 16px;
        font-family: proxima-nova-regular;
        color: #153B99;
        margin-left: 10px;
    }
    
    .blog-content .tools a span {
        text-decoration: underline;
    }
    
    .blog-content .tools a .fa-angle-right {
        font-size: 13px;
    }
    
    .blog-content .tools .carousel-buttons {
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .blog-content .tools .carousel-buttons .prev {
        font-size: 20px;
        color: #979797;
        cursor: pointer;
        transition: all 0.1s;
    }
    
    .blog-content .tools .carousel-buttons .next {
        font-size: 40px;
        color: #153B99;
        cursor: pointer;
    }
    
    .blog-content .blog-carousel {
        width: 310px;
        height: auto;
        margin-top: 60px;
        overflow: hidden!important;
        display: flex;
    }
    
    .blog-content .blog-carousel .blog-item {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .blog-content .blog-carousel .blog-item .img {
        width: 290px;
        height: 178px;
        border-radius: 24px;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center!important
    }
    
    .blog-content .blog-carousel .blog-item .title {
        font-size: 18px;
        font-family: proxima-nova-medium;
        color: #2C3E5C;
        text-align: start;
        width: 250px;
        margin-left: -28px;
        margin-top: 20px;
    }
    
    .blog-content .blog-carousel .blog-item .text {
        width: 290px;
        height: 144px;
        font-size: 17px;
        font-family: proxima-nova-regular;
        color: #343434;
        margin-top: 20px;
        margin-left: 10px;
        opacity: 0.6;
    }
    
    .blog-content .blog-carousel .blog-item .read-more {
        color: #FF6400;
        font-size: 16px;
        font-family: proxima-nova-regular;
        align-self: flex-start;
        margin-left: 10px;
    }
    
    .blog-content .blog-carousel .blog-item .read-more span {
        margin-bottom: 3px;
        text-decoration: underline;
    }
    
    .blog-content .blog-carousel .blog-item .read-more .fa-angle-right {
        font-size: 13px;
    }
    
    .shapes {
        width: 100%;
        height: 540px;
        position: absolute;
        margin-top: 800px;
        display: flex;
        justify-content: space-between;
        z-index: -1;
        overflow: hidden;
    }
    
    .shape-1 {
        width: 420px;
        height: 420px;
        margin-left: -210px;
        margin-top: 50px;
        position: relative;
        background: url(../assets/images/shape-1.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .shape-2 {
        width: 350px;
        height: 350px;
        margin-right: 170;
        margin-top: 190px;
        position: relative;
        background: url(../assets/images/shape-2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        float: right;
    }

    /* social-posts */
    .social-posts {
        width: 100%!important;
        padding-bottom: 80px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-posts > div {
        width: 310px!important;
    }

    .social-posts > div .social-carousel {
        width: 310px!important;
    }

    .social-posts > div .social-carousel .item {
        margin-left: -100px!important;
    }

    .youtube-modal iframe {
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 0;
    }
}

@media (max-height: 1000px) and (max-width: 600px) {
    /* header */
    .header .bg-img {
        height: 600px!important;
    }

    .header .welcome-article {
        height: 450px;
        margin-top: 0;
    }

    .header .welcome-info {
        font-size: 14px;
        margin-top: 20px;
    }

    .header .welcome-article .welcome-text {
        margin-top: 20px;
    }

    .header .welcome-article .welcome-text a { 
        font-size: 30px;
    }

    .header .welcome-buttons a > div{
        width: 110px;
        height: 35px;
        font-size: 11px;
    }

    .header .welcome-text, .header .welcome-info, .header .welcome-buttons {
        width: 270px;
    }

    .header .welcome-buttons {
        margin-top: 20px;
    }

    .header {
        background-size: 45%;
        background-position: center 40px bottom 120px;
        height: 500px;
        margin-top: 70px;
    }

    @media (max-width: 500px) {
        .header {
            background-size: 290px;
            background-position:right bottom 5px;
        }

        .fa-play {
            font-size: 11px!important;
        }

        .header .welcome-text, .header .welcome-info, .header .welcome-buttons {
            width: 250px;
        }
    }

    @media (max-width: 360px) {
        .header {
            background-size: 260px;
            background-position:right bottom 5px;
        }
    }

    @media (min-width: 400px) {
        .header {
            background-position:right 30% bottom 5px;
        }
    }

    .social{
        width: 140px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px auto 0 auto;
    }

    .social .item{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid #E3E3E3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color: #76797E;
        transition: 0.2s;
    }

    /* conversation-content */
    #mobile {
        margin-top: 100px;
    }

    .conversation-content {
        margin-bottom: 30px;
    }

    .conversation-content .title {
        width: 300px!important;
    }

    .conversation-content .title a {
        font-size: 27px!important;
    }

    .owl-one {
        transform: scale(0.56);
        margin-top: -30px;
        margin-bottom: -40px;
    }

    /* timer-content */
    .timer-content .bg-img{
        position: absolute;
        background: url(../assets/illustrations/Path\ 23@2x.svg);
        background-size: cover;
        background-position: -130px 0;
        background-repeat: no-repeat;
        width: 100%;
        height: 580px;
        z-index: -1;
    }

    .timer-content .timer {
        width: 300px;
    }

    .timer-content .timer .timer-item {
        width: 90px;
        height: 90px;
    }

    .timer-content .timer .timer-item .point {
        font-size: 44px;
    }

    .timer-content .timer .timer-item .title {
        font-size: 8px;
        margin-top: 8px;
        font-family: proxima-nova-thin;
    }

    .timer-content .detail {
        width: 300px!important;
        margin: 0!important;
    }

    .timer-content .detail > a {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .timer-content .detail span {
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 0px;
    }

    .timer-content .join {
        font-size: 14px!important;
        width: 150px!important;
        margin-left: 10px;
    }

    .timer-content .detail li {
        font-size: 12px;
        margin-top: 5px;
    }

    .timer-content #next-title {
        font-size: 14px;
        margin-bottom: 30px;
    }

    /* conversation-topics */
    .conversation-topics {
        height: 1050px;
        margin-top: 100px;
    }

    .conversation-topics > span {
        font-size: 13px;
        margin-top: 140px;
    }

    .conversation-topics .t {
        font-size: 24px;
        width: 300px;
    }

    .conversation-topics .items {
        margin-top: 50px;
        height: 520px;
    }

    .conversation-topics .items .item {
        width: 305px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 25px;
    }

    .conversation-topics .items .item:nth-child(2) {
        margin-top: 30px;
    }

    .conversation-topics .items .item .lang {
        font-size: 18px;
        margin: 15px;
        font-family: segoe-bold;
    }

    .conversation-topics .inner span {
        font-size: 13px;
        font-family: proxima-nova-regular;
        opacity: 0.8;
        transition: all 0.2s;
    }
    .conversation-topics .fa-check {
        margin-right: 6px;
        font-size: 10px;
        transition: all 0.2s;
    }
    .conversation-topics .more a {
        font-size: 13px;
        font-family: proxima-nova-medium;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        transition: all 0.2s;
    }
    .more .fa-angle-right {
        color: white;
        font-size: 10px;
        margin-left: 6px;
        margin-top: 3px;
        transition: all 0.2s;
    }

    .conversation-topics .items {
        justify-content: center;
    }

    .conversation-topics .items .item .inner {
        margin-top: 15px;
    }

    .conversation-topics .items .item .title {
        width: 200px;
        font-size: 14px;
    }

    .conversation-topics .items .item ul li {
        margin-top: 0;
    }

    .conversation-topics .all-conversations {
        width: 140px;
        height: 55px;
        font-size: 12px;
        margin-top: 40px!important;
    }

    /* how it works */ 
    .how-it-works {
        margin-top: 100px;
    }

    .how-it-works .proccess {
        width: 310px;
        margin-bottom: 100px!important;
    }

    .how-it-works .proccess .detail {
        width: 310px;
    }

    .how-it-works .proccess .detail .text {
        font-size: 18px;
    }

    .how-it-works .proccess .img {
        width: 250px;
        height: 180px;
    }

    .how-it-works .blink {
        margin-right: 20px!important;
        margin-left: 15px;
    }

    /* price content */
    .price {
        height: 900px;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    
    .price .bg-img {
        height: 900px;
    }

    .prices {
        display: none!important;
    }

    .price .heading {
        margin-top: 90px;
        width: 310px;
    }

    .price .heading .title {
        font-size: 15px;
        margin-top: -30px;
    }

    .price .heading > a {
        margin-top: 30px;
        font-size: 25px;
        width: 310px;
    }
}