/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    list-style: none;
    text-decoration: none;
}

button {
    outline: none!important;
}

.container-fluid .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover{
    text-decoration: none;
}

.container-fluid{
    min-height: 100vh;
    overflow: hidden!important;
}

.hamburger-item, .timer-content #next-title, #mobile, .hamburger, .price .mobile-prices, #blog-mobile {
    display: none;
}

/* start of navbar */
.navbar{
    width: 100%;
    height: 125px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

.navbar > .inner{
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navbar > .inner > a {
    margin-left: -50px;
}

.navbar #logo{
    width: 240px;
    height: 55px;
    background: url(../assets/images/Logo@2x.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar #navigations{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar #navigations ul{
    display: flex;
    padding: 0;
    margin: 0;
} 

.navbar #navigations li{
    margin: 20px;
} 

.navbar #navigations a{
    color: #0C0C0C;
    font-size: 20px;
    font-family: proxima-nova-regular;
    transition: 0.2s;
}

.navbar #navigations a:hover{
    color: #03A9F4;
    transition: 0.2s;
}

.navbar #site-tools{
    width: 310px;
    display: flex;
    justify-content: flex-end!important;
    align-items: center!important;
    margin-right: -50px;
}

.hamburger .site-tools .user .user-photo {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    background: url(../assets/images/samir.svg);
}


.navbar #login, .navbar #signup{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.m-login, .m-signup {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.navbar #login:hover{
    color: #FF6400;
    transition: 0.2s all;
}

.navbar #signup{
    width: 126px;
    height: 50px;
    background: #03a9f4;
    color: #ffffff;
    font-size: 18px;
    border-radius: 3px 3px 3px 3px; 
    transition: 0.2s all;
}

.navbar #login{
    color: #03a9f4;
    font-size: 18px;
    margin-right: 25px;
    padding: 5px;
    transition: 0.2s all;
}

.navbar #signup:hover{
    background: #FF6400;
    transition: 0.2s all;
}

.navbar .lang-bar{
    margin-left: 25px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 5px;
}

.navbar .lang-bar>span{
    color: #000000;
    font-family: proxima-nova-regular;
    display: flex;
    align-items: center;
}

.navbar .lang-bar ul{
    position: absolute;
    padding: 2px;
    border-radius: 3px 3px 3px 3px;
    margin: -3px 0 0 -5px;
    z-index: 2;
    display: none;
    line-height: 1.2em;
}

.navbar .lang-bar ul a{
    padding: 2px;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-family: proxima-nova-regular;
    transition: 0.1s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.navbar .lang-bar ul a:hover{
    color: #ffffff;
    background: #03A9F4;
    transition: 0.1s;
}

.navbar .lang-bar .down {
    width: 10px;
    height: 6px;
    background: url(../assets/images/down-black.svg);
    background-size: contain!important;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

.navbar .lang-bar .bottom {
    width: 10px;
    height: 6px;
    background: url(../assets/images/down-blue.svg);
    background-size: contain!important;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

.navbar .menu {
    margin-left: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    justify-content: flex-end;
}

.navbar .menu .down {
    width: 18px;
    height: 15px;
    background: url(../assets/images/down-blue.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 10px;
}

.navbar .menu .up {
    width: 18px;
    height: 15px;
    background: url(../assets/images/down-blue.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform: rotate(180deg);
    padding: 10px;
}

.navbar .menu ul {
    display: none;
    padding-top: 20px;
    position: absolute;
    margin-top: 73px;
    background: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 20px;
    min-width: 190px;
    box-shadow: rgba(61, 61, 61, 0.164) 1px 5px 15px;
    -ms-box-shadow: rgba(61, 61, 61, 0.164) 1px 5px 15px;
    -webkit-box-shadow: rgba(61, 61, 61, 0.164) 1px 5px 15px;
}

.navbar .menu ul li {
    width: 100%;
    text-align: end;
    padding: 2px 12px;
}

.navbar .menu ul li a {
    font-size: 20px;
    font-family: proxima-nova-regular;
    color: #0C0C0C;
    padding: 3px;
    border-radius: 3px 3px 3px 3px;
    transition: all 0.08s;
}

.navbar .menu ul li a:hover {
    background: #03A9F4;
    color: #ffffff;
}
/* end of navbar */

/* start of after-login */
.navbar .after-login section {
    width: 60px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .after-login .message .message-icon{
    width: 25px;
    height: 25px;
    background: url(../assets/images/email.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.navbar .after-login .notification .notification-icon{
    width: 16px;
    height: 25px;
    background: url(../assets/images/notification.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.navbar .after-login .message .count {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #FF3A46;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -15px;
    margin-left: -10px;
    font-size: 11px;
    font-family: proxima-nova-medium;
    display: none;
}

.navbar .after-login .notification .count {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #FF3A46;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -15px;
    margin-left: -12px;
    font-size: 11px;
    font-family: proxima-nova-medium;
    display: none;
}

.navbar .after-login .user a{
    display: flex;
    align-items: center;
}

.navbar .after-login .user .username {
    font-size: 18px;
    font-family: proxima-nova-regular;
    color: #03A9F4;
    margin-right: 10px;
}

.navbar .after-login .user .user-photo {
    width: 41px;
    height: 41px;
    background: url(../assets/images/samir.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-position: center;
}
/* end of after-login */

.mobile-notify {
    display: none;
}

/* TABLET VIEW */
@media (max-width: 1199px) {
    #navigations, #site-tools, .timer-content .next-title, #desktop, #blog-desktop {
        display: none!important;
    }
    
    /* navbar */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: #00000017 0.1px 0.1px 1px;
        -ms-box-shadow: #00000017 0.1px 0.1px 1px;
        -webkit-box-shadow: #00000017 0.1px 0.1px 1px;
    }

    .navbar > .inner {
        height: 100%;
        justify-content: space-between;
    }

    .navbar > .inner > a {
        margin-left: 2%;
    }

    .navbar {
        width: 100%;
        height: 109px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar > #logo{
        width: 240px;
        height: 55px;
        background: url(../assets/images/Logo@2x.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 0;
    }

    /* mobile-notify */
    .mobile-notify {
        width: 85px;
        position: absolute;
        right: 125px;
        display: flex;
        justify-content: space-between;
    }

    .mobile-notify .mobile-message .message-icon {
        width: 30px;
        height: 26px;
        background: url(../assets/images/email.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile-notify .mobile-notification .notification-icon {
        width: 21px;
        height: 26px;
        background: url(../assets/images/notification.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile-notify .mobile-message .count {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #FF3A46;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -15px;
        margin-left: -10px;
        font-size: 11px;
        font-family: proxima-nova-medium;
        display: none;
    }
    
    .mobile-notify .mobile-notification .count {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #FF3A46;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -15px;
        margin-left: -12px;
        font-size: 11px;
        font-family: proxima-nova-medium;
        display: none;
    }
}

@media (max-height: 1000px) and (max-width: 600px) {
    /* navbar */
    .navbar {
        height: 70px;
    }

    .navbar #logo {
        width: 130px;
    }
    
}

@media (max-width: 1000px) {
       /* mobile-notify */
       .mobile-notify {
        right: 120px;
    }
}

@media (max-width: 767px) {
       /* mobile-notify */
       .mobile-notify {
        right: 115px;
    }
}

@media (max-width: 600px) {
    /* mobile-notify */
    .mobile-notify {
     right: 100px;
 }
}

@media (max-width: 450px) {
    /* mobile-notify */
    .mobile-notify {
     right: 90px;
 }
}

@media (max-width: 400px) {
    /* mobile-notify */
    .mobile-notify {
        width: 18%!important;
        position: absolute;
        display: flex;
        justify-content: space-between;
        right: 23%;
        width: auto;
    }

    .mobile-notify .mobile-message {
        margin-right: 0;
    }

    .mobile-notify .mobile-message .message-icon {
        width: 22px;
        height: 20px;
        background: url(../assets/images/email.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile-notify .mobile-notification .notification-icon {
        width: 21px;
        height: 20px;
        background: url(../assets/images/notification.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile-notify .mobile-message .count {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: #FF3A46;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -13px;
        margin-left: -6px;
        font-size: 9px;
        font-family: proxima-nova-medium;
        display: none;
    }
    
    .mobile-notify .mobile-notification .count {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: #FF3A46;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -13px;
        margin-left: -5px;
        font-size: 9px;
        font-family: proxima-nova-medium;
        display: none;
    }
}