/* start of profile header */
.profile-header {
    width: 100%;
    height: 477px;
    background: linear-gradient(90deg, #0457DC, #4B97EF);
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-header .bg {
    width: 100%;
    height: 477px;
    max-width: 2000px;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
}

.profile-header .bg .bg-o-right {
    width: 410px;
    height: 450px;
    background: url(../assets/images/bg-right-profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: scale(0.5);
    right: -120px;
    top: -122px;
}

.profile-header .bg .bg-o-left {
    width: 280px;
    height: 307px;
    background: url(../assets/images/bg-left-profile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: scale(3.2);
    left: 280px;
    bottom: -50px;
}

.profile-header .inner {
    width: 1170px;
    height: 266px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.profile-header .inner .user-photo {
    width: 246px;
    height: 246px;
    border-radius: 100%;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background: url(../assets/images/samir.svg);
}

.profile-header .inner .info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    transform: translate3d(0, 30px, 0);
}

.profile-header .inner .user-namesurname {
    font-size: 67px;
    font-family: proxima-nova-medium;
    color: #ffffff;
}

.profile-header .inner .local-time {
    font-size: 25px;
    font-family: proxima-nova-medium;
    color: #ffffff;
    display: flex;
    align-items: center;
    transform: translate3d(0, -20px, 0);
}

.profile-header .inner .loc-img {
    width: 13px;
    height: 17px;
    background: url(../assets/images/location.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -4px;
    margin-right: 10px;
}

.profile-header .inner .personal-info {
    display: flex;
    width: 700px;
    justify-content: space-between;
    font-size: 18px;
    color: #ffffff;
    font-family: proxima-nova-medium;
    transform: translate3d(0, 12px, 0);
}

.profile-header .inner .personal-info .mail-img {
    width: 22px;
    height: 17px;
    background: url(../assets/images/email_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
    margin-top: -2.5px;
}

.profile-header .inner .personal-info .mail {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.profile-header .inner .personal-info .gender {
    display: flex;
    align-items: center;
}

.profile-header .inner .personal-info .gender .gender-img {
    width: 16.63px;
    height: 16.63px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-right: 10px;
    margin-top: -2px;
}

.profile-header .inner .personal-info .gender #male {
    background: url(../assets/images/male.svg);
}

.profile-header .inner .personal-info .gender #female {
    background: url(../assets/images/female.svg);
}


.profile-header .inner .personal-info .gender #other {
    background: url(../assets/images/male-and-female-symbols.svg);
}

.profile-header .inner .personal-info .national-lang {
    display: flex;
    align-items: center;
}

.profile-header .inner .personal-info .lang-img {
    width: 24.75px;
    height: 19.5px;
    background: url(../assets/images/national-lang.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    margin-top: -2px;
}
/* end of profile header */

/* start of profile-nav */
.profile-nav {
    width: 100%;
    height: 200px;
    max-width: 2000px;
    background: #F7FAFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.profile-nav .switch-nav {
    width: 437px;
    height: 64px;
    border-radius: 40px;
    border: 2px solid #3D82F0;
    display: flex;
    -moz-user-select: none;
    -webkit-user-select: none;
    background: transparent;
    z-index: 1;
}

.profile-nav .switch-nav .overview {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: proxima-nova-regular;
    font-size: 15px;
    cursor: pointer;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.profile-nav .switch-nav .edit {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D82F0;
    font-family: proxima-nova-regular;
    font-size: 15px;
    cursor: pointer;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.switch-button {
    width: 221px;
    height: 62px;
    border-radius: 40px;
    background: #3D82F0;
    position: absolute;
    z-index: -1;
    margin-top: -1px;
    margin-left: -1px;
}
/* end of profile-nav */

/* start of information content */
.information-content {
    width: 100%;
    height: auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7FAFD;
}

.information-content .overview {
    width: 1170px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.information-content .basic-information, .information-content .languages, .information-content .introduction {
    width: 770px;
    height: auto;
    border: 1px solid #7DABF5;
    background-repeat: no-repeat;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.information-content .basic-information .title, .information-content .languages .title, .information-content .introduction .title {
    color: #3D82F0;
    font-size: 25px;
    font-family: proxima-nova-regular;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
    font-weight: 900;
}

.information-content .basic-information .inner, .information-content .languages .inner {
    width: 100%;
}

.information-content .basic-information .inner table {
    margin-top: -12px;
    margin-left: 50px;
    margin-bottom: 45px;
}

.information-content .basic-information .inner table tr {
    height: 40px;
}

.information-content .basic-information .inner table th {
    color: #222A41;
    width: 200px;
    font-size: 18px;
    font-family: proxima-nova-regular;
    font-weight: 400!important;
}

.information-content .basic-information .inner table td {
    color: #3D82F0;
    font-size: 18px;
    font-family: proxima-nova-regular;
}

.information-content .languages {
    margin-top: 60px;
}

.information-content .languages .inner table {
    margin-top: -12px;
    margin-left: 50px;
    margin-bottom: 45px;
}

.information-content .languages .inner table tr {
    height: 40px;
}

.information-content .languages .inner table th {
    color: #222A41;
    width: 200px;
    font-size: 18px;
    font-family: proxima-nova-regular;
    font-weight: 400!important;
}

.information-content .languages .inner table td {
    color: #3D82F0;
    font-size: 18px;
    font-family: proxima-nova-regular;
}

.information-content .languages .inner table td span {
    color: #CFCFCF!important;
}

.information-content .introduction {
    margin-top: 60px;
}

.information-content .introduction .text {
    font-size: 18px;
    color: #222A41;
    font-family: proxima-nova-regular;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 45px;
    margin-top: -12px;
}

.information-content th {
    width: 200px;
}

.information-content .your-plan {
    width: 370px;
    height: 77px;
    border: 1px solid #7DABF5;
    background-repeat: no-repeat;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information-content .your-plan .title {
    font-size: 25px;
    color: #3D82F0;
    font-family: proxima-nova-regular;
    font-weight: 900;
    margin-left: 25px;
}

.information-content .your-plan .plan {
    width: 141px;
    height: 50px;
    border-radius: 3px 3px 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-family: proxima-nova-regular;
    margin-right: 25px;
}

.information-content .your-plan #premium {
    background: linear-gradient(90deg, #00EBAC, #00D1F4,#00D1F4,#00EBAC);
    background-size: 400%;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {background-position: 0%}
    100% {background-position: 400%}
}

.information-content .your-plan #free {
    background: #FF4141;
}

.information-content .notifications {
    width: 370px;
    height: auto;
    margin-top: 60px;
    border: 1px solid #7DABF5;
    background-repeat: no-repeat;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.information-content .notifications .title {
    color: #3D82F0;
    font-size: 25px;
    font-family: proxima-nova-regular;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.information-content .notifications .inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.information-content .notifications .inner ul {
    width: 290px;
    padding-right: 20px;
    margin-top: -12px;
    max-height: 694px;
    overflow-y: auto;
}

.information-content .notifications .inner ::-webkit-scrollbar {
    width: 3px;
    transform: translate3d(10px, 0, 0)!important;
}


.information-content .notifications .inner ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100px;
}

.information-content .notifications .inner:hover ::-webkit-scrollbar-thumb{
    background: #3d82f0a8;
}

.information-content .notifications .inner:hover .b {
    display: none;
}

.information-content .notifications .inner ul li {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    color: #222A41;
    font-size: 18px;
    font-family: proxima-nova-regular;
}

.information-content .notifications .inner ul li .fill {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #3D82F0;
    flex-shrink: 0;
    margin-right: 7px;
}

.information-content .notifications .inner ul li .unfill {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: transparent;
    flex-shrink: 0;
    margin-right: 7px;
    border: 1px solid #0457DC;
}

.information-content .notifications .inner ul li span {
    color: #CFCFCF;
    font-size: 18px;
    font-family: proxima-nova-regular;
}

.information-content .notifications .inner ul li a {
    color: #3D82F0;
    font-size: 18px;
    font-family: proxima-nova-regular;
}

.information-content .notifications .inner .b {
    width: 367px;
    height: 300px;
    background: linear-gradient( #ffffff00, #ffffff);
    position: absolute;
}

.information-content .connected-with {
    width: 368px;
    height: auto;
    margin-top: 40px;
}

.information-content .connected-with .title {
    font-size: 25px;
    font-family: proxima-nova-regular;
    font-weight: 900;
    color: #3D82F0;
    margin-bottom: 10px;
}

.information-content .connected-with .inner {
    width: 370px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information-content .connected-with .inner .facebook {
    width: 180px;
    height: 49px;
    background: #3D82F0;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #3D82F0;
    transition: all 0.2s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.information-content .connected-with .inner .facebook:hover {
    color: #3D82F0;
    background: transparent;
}

.information-content .connected-with .inner .facebook svg {
    font-size: 16px;
    margin-right: 10px;
    margin-top: -2px;
}

.information-content .connected-with .inner .google {
    width: 180px;
    height: 49px;
    background: #FF3A46;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #FF3A46;
    transition: all 0.2s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.information-content .connected-with .inner .google:hover {
    color: #FF3A46;
    background: transparent;
}

.information-content .connected-with .inner .google svg {
    font-size: 16px;
    margin-right: 10px;
    margin-top: -2px;
}
/* end of information content */

/* start of edit-content */
.edit-content {
    width: 100%;
    height: auto;
    max-width: 2000px;
    justify-content: center;
    align-items: center;
    background: #F7FAFD;
    display: none;
}

.edit-content .auth-info {
    width: 1170px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* .edit-content .auth-info .pp-upload  */

.edit-content .auth-info .pp-upload {
    display: flex;
    flex-direction: column;
}

.edit-content .auth-info form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-info form > span {
    display: flex;
}

.login-details {
    margin-right: 30px;
}

.edit-content .auth-info .pp-upload label {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-content .auth-info .pp-upload input {
    width: 266px;
    height: 266px;
    border-radius: 100%;
    background: transparent;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.edit-content .auth-info .pp-upload .inner {
    width: 266px;
    border-radius: 100%;	
    height: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #E6EBF1;
    z-index: 0;
    position: absolute;
    font-size: 20px;
    font-family: proxima-nova-regular;
    background: url(../assets/images/upload-pp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.edit-content .auth-info .pp-upload button {
    width: 180px;
    height: 49px;
    border-radius: 40px;
    border: 2px solid #3D82F0;
    font-family: proxima-nova-regular;
    color: #3D82F0;
    background: #ffffff;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-left: auto;
    margin-right: auto;
}

.edit-content .auth-info .pp-upload button:hover {
    background: #3D82F0;
    color: #ffffff;
}

.edit-content .auth-info .pp-upload button .img {
    width: 13.56px;
    height: 13px;
    background: url(../assets/images/upload-blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
    transition: all 0.2s;
}

.edit-content .auth-info .pp-upload button:hover .img{
    width: 13.56px;
    height: 13px;
    background: url(../assets/images/upload-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
}

.edit-content .auth-info .login-details {
    margin-left: 50px;
}

.edit-content .auth-info .login-details, .edit-content .auth-info .change-password {
    display: flex;
    flex-direction: column;
}

.edit-content .auth-info .login-details .title, .edit-content .auth-info .change-password .title {
    font-size: 25px;
    font-family: proxima-nova-regular;
    font-weight: 900;
    color: #3D82F0;
    margin-bottom: 10px;
    margin-top: 60px;
}

.edit-content .auth-info .login-details section, .edit-content .auth-info .change-password section {
    height: auto;
    display: flex;
    flex-direction: column;
}

.edit-content .auth-info .login-details section .inner {
    width: 381px;
    height: 58px;
    background: #E6EBF1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-content .auth-info .change-password section .inner {
    width: 381px;
    height: 58px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3D82F0;
}

.edit-content .auth-info .login-details section .inner:nth-child(2), .edit-content .auth-info .change-password section .inner:nth-child(2) {
    margin-top: 20px;
}

.edit-content .auth-info .login-details section .inner:nth-child(1) .i {
    width: 20.56px;
    height: 15.42px;
    background: url(../assets/images/email.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-right: 22px;
}

.edit-content .auth-info .login-details section .inner:nth-child(2) .i {
    width: 20.56px;
    height: 23.42px;
    background: url(../assets/images/padlock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-right: 22px;
}

.edit-content .auth-info .change-password section .inner .i {
    width: 20.56px;
    height: 23.42px;
    background: url(../assets/images/padlock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-right: 22px;
}

.edit-content .auth-info .login-details section .inner .show {
    width: 24px;
    height: 25px;
    background: url(../assets/images/show.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    position: absolute;
    transform: translateX(155px);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.edit-content .auth-info .login-details section .inner input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 0;
    background: #E6EBF1;
    font-size: 18px;
    color: #343434;
    opacity: 0.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

.edit-content .auth-info .change-password section .inner input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 0;
    background: #ffffff;
    font-size: 18px;
    color: #3D82F0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

.edit-content .auth-info .change-password section .inner input::placeholder,  .edit-content .auth-info .change-password section .inner inputt::-webkit-input-placeholder {
    color: #343434;
    opacity: 0.5;
    font-family: segoe-regular;
}

.edit-content .show_email {
    margin-top: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Hide the browser's default checkbox */
.edit-content .show_email label input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.edit-content .checkmark {
    position: absolute;
    height: 13px;
    width: 13px;
    background: #ffffff;
    border-radius: 0;
    border: 1px solid #999999;
    margin-top: 6px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.edit-content .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.edit-content .show_email label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.edit-content .show_email label .checkmark:after {
    left: 4px;
    top: 2px;
    width: 2.5px;
    height: 5px;
    border: solid #000000;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.edit-content .show_email label .text {
    margin-left: 18px;
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #343434;
    text-decoration: underline;
}

.edit-content .change-password button {
    width: 180px;
    height: 49px;
    border-radius: 40px;
    font-family: proxima-nova-regular;
    color: #ffffff;
    background: #3D82F0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    align-self: flex-end;
    border: none;
}

.edit-content .change-password button:hover {
    background: #FF930E;
}

.edit-content .change-password button .img {
    width: 13.56px;
    height: 13px;
    background: url(../assets/images/save-changes-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
    transition: all 0.2s;
}

.edit-content > .inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.edit-content > .inner .basic-information, .edit-content > .inner .languages, .edit-content > .inner .introduction {
    width: 1170px;
    height: auto;
    padding-bottom: 70px;
    background: #ffffff;
    border: 1px solid #3D82F0;
}

.edit-content > .inner .languages, .edit-content > .inner .introduction {
    margin-top: 60px;
}

.edit-content > .inner .basic-information .title, .edit-content > .inner .languages .title, .edit-content > .inner .introduction .title {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 38px;
    color: #3D82F0;
    font-family: proxima-nova-regular;
    font-weight: 900;
}

.edit-content > .inner .introduction textarea {
    margin-left: 70px;
    margin-top: 40px;
    width: 1000px;
    min-height: 300px;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: proxima-nova-regular;
    color: #222A41;
    overflow: hidden;
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #3D82F0 30px, #3D82F0 31px, white 31px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #3D82F0 30px, #3D82F0 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #3D82F0 30px, #3D82F0 31px, white 31px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #3D82F0 30px, #3D82F0 31px, white 31px);
    background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #3D82F0 30px, #3D82F0 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 41px;
    line-height: 41px;
    padding: 0 15px;
}



.edit-content input[type=date]::-webkit-clear-button, /* blue cross */
.edit-content input[type=date]::-webkit-inner-spin-button, /* up */
.edit-content input[type=date]::-webkit-outer-spin-button, /* down */
.edit-content input[type=date]::-webkit-calendar-picker-indicator /* datepicker*/ {
    display: none;
}

.edit-content > .inner .basic-information table, .edit-content > .inner .languages table {
    margin-left: 70px;
    width: 1000px;
    margin-top: 20px;
}

.edit-content > .inner .basic-information table th, .edit-content > .inner .languages table th {
    width: 250px;
    font-weight: 400;
    color: #222A41;
    font-size: 27px;
    font-family: proxima-nova-regular;
    padding-top: 20px;
}

.edit-content select {
    height: 40px;
    background: #ffffff!important;
}

.edit-content > .inner .basic-information table tr, .edit-content > .inner .languages table tr {
    height: 55px;
}

.edit-content > .inner .basic-information table td, .edit-content > .inner .languages table td {
    padding-top: 20px;
    display: flex;
}

.edit-content > .inner .basic-information table td label:nth-child(1) {
    margin-right: 40px;
}

.edit-content > .inner .basic-information table td label:nth-child(2) {
    margin-right: 40px;
}

.edit-content > .inner .basic-information table input, .edit-content > .inner .basic-information table select {
    border: none;
    outline: none!important;
    font-size: 27px;
    font-family: proxima-nova-regular;
    color: #3D82F0;
    width: 100%;
    border-bottom: 1px solid #3D82F0;
    background: #ffffff!important;
}

.edit-content > .inner .languages table input, .edit-content > .inner .languages table select {
    border: none;
    outline: none!important;
    font-size: 27px;
    font-family: proxima-nova-regular;
    color: #3D82F0;
    width: 100%;
    border-bottom: 1px solid #3D82F0;
    background: #ffffff!important;
}

.edit-content > .inner .languages section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edit-content > .inner .languages section select {
    width: 45%;
    background: #ffffff!important;
}

.edit-content > .inner .languages section select:nth-child(2) {
    color: #CFCFCF;
}

.edit-content > .inner .basic-information table label {
    border: none;
    outline: none!important;
    font-size: 27px;
    font-family: proxima-nova-regular;
    color: #3D82F0;
    display: flex;
    align-items: center;
}

.edit-content > .inner .basic-information table input[type="radio"] {
    width: auto!important;
    margin-top: -5px;
    margin-right: 5px;
    border-color: #3D82F0!important;
    background: #ffffff!important;
}

.edit-content .save-content {
    width: 1170px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.edit-content .connect-with {
    width: 368px;
    height: auto;
    margin-top: 40px;
}

.edit-content .connect-with .title {
    font-size: 25px;
    font-family: proxima-nova-regular;
    font-weight: 900;
    color: #3D82F0;
    margin-bottom: 10px;
}

.edit-content .connect-with .inner {
    width: 370px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-content .connect-with .inner .facebook {
    width: 180px;
    height: 49px;
    background: #3D82F0;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #3D82F0;
    transition: all 0.2s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.edit-content .connect-with .inner .facebook:hover {
    color: #3D82F0;
    background: transparent;
}

.edit-content .connect-with .inner .facebook svg {
    font-size: 16px;
    margin-right: 10px;
    margin-top: -2px;
}

.edit-content .connect-with .inner .google {
    width: 180px;
    height: 49px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    font-size: 12px;
    border: 1px solid #FF3A46;
    transition: all 0.2s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    background: transparent;
    color: #FF3A46;
}

.edit-content .connect-with .inner .google:hover {
    background: #FF3A46;
    color: #ffffff;
}

.edit-content .connect-with .inner .google svg {
    font-size: 16px;
    margin-right: 10px;
    margin-top: -2px;
}

.edit-content .save-content button {
    width: 180px;
    height: 49px;
    border-radius: 40px;
    font-family: proxima-nova-regular;
    color: #ffffff;
    background: #3D82F0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    align-self: flex-end;
    border: none;
}

.edit-content .save-content button:hover {
    background: #FF930E;
}

.edit-content .save-content button .img {
    width: 13.56px;
    height: 13px;
    background: url(../assets/images/save-changes-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
    transition: all 0.2s;
}
/* end of edit-content */

@media (max-width: 1199px) {
    /* start of profile header */
    .profile-header {
        width: 100%;
        height: 350px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 109px;
    }

    .profile-header .bg {
        width: 100%;
        height: 350px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .profile-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.5);
        right: -120px   ;
        top: -122px;
    }

    .profile-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(3.2);
        left: 280px;
        bottom: -50px;
    }

    .profile-header .inner {
        width: 600px;
        height: 266px;
        display: flex;
        align-items: center;
        z-index: 1;
        margin-top: -50px;
    }

    .auth-info form {
        justify-content: center!important;
    }

    .auth-info form > span {
        display: flex;
        margin-left: 30px;
    }

    .login-details {
        margin-right: 30px;
    }

    .profile-header .inner .user-photo {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background: url(../assets/images/samir.svg);
    }
    
    .profile-header .inner .info {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        transform: translate3d(0, 30px, 0);
        margin-top: -20px;
    }
    
    .profile-header .inner .user-namesurname {
        font-size: 34px;
        font-family: proxima-nova-medium;
        color: #ffffff;
    }
    
    .profile-header .inner .local-time {
        font-size: 25px;
        font-family: proxima-nova-medium;
        color: #ffffff;
        display: flex;
        align-items: center;
        transform: translate3d(0, -20px, 0);
    }
    
    .profile-header .inner .loc-img {
        width: 13px;
        height: 17px;
        background: url(../assets/images/location.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -4px;
        margin-right: 10px;
    }
    
    .profile-header .inner .personal-info {
        display: flex;
        width: 600px;
        justify-content: space-between;
        font-size: 18px;
        color: #ffffff;
        font-family: proxima-nova-medium;
        transform: translate3d(-199px, 125px, 0);
        position: absolute;
    }
    
    .profile-header .inner .personal-info .mail-img {
        width: 22px;
        height: 17px;
        background: url(../assets/images/email_white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 10px;
        margin-top: -2.5px;
    }
    
    .profile-header .inner .personal-info .mail {
        display: flex;
        align-items: center;
        color: #ffffff;
    }
    
    .profile-header .inner .personal-info .gender {
        display: flex;
        align-items: center;
    }
    
    .profile-header .inner .personal-info .gender .gender-img {
        width: 16.63px;
        height: 16.63px;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        margin-right: 10px;
        margin-top: -2px;
    }
    
    .profile-header .inner .personal-info .gender #male {
        background: url(../assets/images/male.svg);
    }
    
    .profile-header .inner .personal-info .gender #female {
        background: url(../assets/images/female.svg);
    }

    .profile-header .inner .personal-info .gender #other {
        background: url(../assets/images/male-and-female-symbols.svg);
    }
    
    .profile-header .inner .personal-info .national-lang {
        display: flex;
        align-items: center;
    }
    
    .profile-header .inner .personal-info .lang-img {
        width: 24.75px;
        height: 19.5px;
        background: url(../assets/images/national-lang.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        margin-top: -2px;
    }

    .profile-nav {
        background: #ffffff;
    }

    .profile-nav .switch-nav {
        transform: scale(0.8);
    }

    .information-content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
    }
    
    .information-content .overview {
        width: 700px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 140px;
        padding-bottom: 150px;
    }

    .information-content .overview .left, .information-content .overview .left > div {
        width: 100%;
    }

    .information-content .overview .right .notifications {
        display: none;
    }

    .information-content .your-plan {
        position: absolute;
        top: 650px;
        background: transparent;
        border: none;
    }

    .information-content .connected-with {
        width: 400px;
        height: auto;
        margin-top: 60px;
    }

    .information-content .connected-with .inner {
        display: flex;
        width: 400px;
        justify-content: space-between;
    }

    /* edit-content */
    .edit-content {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        display: none;
    }
    
    .edit-content .auth-info {
        width: 1000px;
        height: 350px;
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    
    /* .edit-content .auth-info .pp-upload  */
    
    .edit-content .auth-info .pp-upload {
        display: flex;
        flex-direction: column;
    }
    
    .edit-content .auth-info .pp-upload label {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .edit-content .auth-info .pp-upload input {
        width: 226px;
        height: 226px;
        border-radius: 100%;
        background: transparent;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
    }
    
    .edit-content .auth-info .pp-upload .inner {
        width: 226px;
        border-radius: 100%;	
        height: 226px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background: #E6EBF1;
        z-index: 0;
        position: absolute;
        font-size: 17px;
        font-family: proxima-nova-regular;
        background: url(../assets/images/upload-pp.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .edit-content .auth-info .pp-upload button {
        width: 150px;
        height: 44px;
        border-radius: 40px;
        border: 2px solid #3D82F0;
        font-family: proxima-nova-regular;
        color: #3D82F0;
        background: #ffffff;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }
    
    .edit-content .auth-info .pp-upload button:hover {
        background: #3D82F0;
        color: #ffffff;
    }
    
    .edit-content .auth-info .pp-upload button .img {
        width: 13.56px;
        height: 13px;
        background: url(../assets/images/upload-blue.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 7px;
        transition: all 0.2s;
    }
    
    .edit-content .auth-info .pp-upload button:hover .img{
        width: 13.56px;
        height: 13px;
        background: url(../assets/images/upload-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 7px;
    }
    
    .edit-content .auth-info .login-details {
        margin-left: 0;
    }
    
    .edit-content .auth-info .login-details, .edit-content .auth-info .change-password {
        display: flex;
        flex-direction: column;
    }
    
    .edit-content .auth-info .login-details .title, .edit-content .auth-info .change-password .title {
        font-size: 22px;
        font-family: proxima-nova-regular;
        font-weight: 900;
        color: #3D82F0;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    
    .edit-content .auth-info .login-details section, .edit-content .auth-info .change-password section {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .edit-content .auth-info .login-details section .inner {
        width: 321px;
        height: 48px;
        background: #E6EBF1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .edit-content .auth-info .change-password section .inner {
        width: 321px;
        height: 48px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #3D82F0;
    }
    
    .edit-content .auth-info .login-details section .inner:nth-child(2), .edit-content .auth-info .change-password section .inner:nth-child(2) {
        margin-top: 20px;
    }
    
    .edit-content .auth-info .login-details section .inner:nth-child(1) .i {
        width: 20.56px;
        height: 15.42px;
        background: url(../assets/images/email.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        margin-right: 22px;
    }
    
    .edit-content .auth-info .login-details section .inner:nth-child(2) .i {
        width: 20.56px;
        height: 23.42px;
        background: url(../assets/images/padlock.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        margin-right: 22px;
    }
    
    .edit-content .auth-info .change-password section .inner .i {
        width: 20.56px;
        height: 23.42px;
        background: url(../assets/images/padlock.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        margin-right: 22px;
    }
    
    .edit-content .auth-info .login-details section .inner .show {
        width: 24px;
        height: 25px;
        background: url(../assets/images/show.svg);
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        position: absolute;
        transform: translateX(130px);
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    
    .edit-content .auth-info .login-details section .inner input {
        width: 240px;
        height: 30px;
        border: none;
        border-radius: 0;
        background: #E6EBF1;
        font-size: 18px;
        color: #343434;
        opacity: 0.6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
    }
    
    .edit-content .auth-info .change-password section .inner input {
        width: 240px;
        height: 30px;
        border: none;
        border-radius: 0;
        background: #ffffff;
        font-size: 18px;
        color: #3D82F0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
    }
    
    .edit-content .auth-info .change-password section .inner input::placeholder,  .edit-content .auth-info .change-password section .inner inputt::-webkit-input-placeholder {
        color: #343434;
        opacity: 0.5;
        font-family: segoe-regular;
    }
    
    .edit-content .show_email {
        margin-top: 20px;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .edit-content .show_email label input {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    .edit-content .checkmark {
        position: absolute;
        height: 13px;
        width: 13px;
        background: #ffffff;
        border-radius: 0;
        border: 1px solid #999999;
        margin-top: 6px;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .edit-content .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .edit-content .show_email label input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .edit-content .show_email label .checkmark:after {
        left: 4px;
        top: 2px;
        width: 2.5px;
        height: 5px;
        border: solid #000000;
        border-width: 0 1.5px 1.5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .edit-content .show_email label .text {
        margin-left: 18px;
        font-size: 16px;
        font-family: proxima-nova-regular;
        color: #343434;
        text-decoration: underline;
    }
    
    .edit-content .change-password button {
        width: 140px;
        height: 44px;
        border-radius: 40px;
        font-family: proxima-nova-regular;
        color: #ffffff;
        background: #3D82F0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        align-self: flex-end;
        font-size: 14px;
        border: none;
    }
    
    .edit-content .change-password button:hover {
        background: #FF930E;
    }
    
    .edit-content .change-password button .img {
        width: 13.56px;
        height: 13px;
        background: url(../assets/images/save-changes-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 7px;
        transition: all 0.2s;
    }

    .edit-content > .inner {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px!important;
        margin-bottom: 150px;
    }
    
    .edit-content > .inner .basic-information, .edit-content > .inner .languages, .edit-content > .inner .introduction {
        width: 900px;
        height: auto;
        padding-bottom: 70px;
        background: #ffffff;
        border: 1px solid #3D82F0;
    }
    
    .edit-content > .inner .languages, .edit-content > .inner .introduction {
        margin-top: 60px;
    }
    
    .edit-content > .inner .basic-information .title, .edit-content > .inner .languages .title, .edit-content > .inner .introduction .title {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 35px;
        color: #3D82F0;
        font-family: proxima-nova-regular;
        font-weight: 900;
    }
    
    .edit-content > .inner .introduction textarea {
        margin-left: 60px;
        margin-top: 30px;
        width: 760px;
        height: 200px;
        outline: none;
        border: none;
        font-size: 16px;
        font-family: proxima-nova-regular;
        color: #222A41;
        overflow: auto;
    }
    
    .edit-content input[type=date]::-webkit-clear-button, /* blue cross */
    .edit-content input[type=date]::-webkit-inner-spin-button, /* up */
    .edit-content input[type=date]::-webkit-outer-spin-button, /* down */
    .edit-content input[type=date]::-webkit-calendar-picker-indicator /* datepicker*/ {
        display: none;
    }
    
    .edit-content > .inner .basic-information table, .edit-content > .inner .languages table {
        margin-left: 60px;
        width: 900px;
        margin-top: 20px;
    }
    
    .edit-content > .inner .basic-information table th, .edit-content > .inner .languages table th {
        width: 200px;
        font-weight: 400;
        color: #222A41;
        font-size: 22px;
        font-family: proxima-nova-regular;
        padding-top: 15px;
    }
    
    .edit-content select {
        height: 40px;
    }
    
    .edit-content > .inner .basic-information table tr, .edit-content > .inner .languages table tr {
        height: 55px;
    }
    
    .edit-content > .inner .basic-information table td, .edit-content > .inner .languages table td {
        padding-top: 20px;
        display: flex;
        width: 560px;
    }
    
    .edit-content > .inner .basic-information table td label:nth-child(1) {
        margin-right: 40px;
    }
    
    .edit-content > .inner .basic-information table input, .edit-content > .inner .basic-information table select {
        border: none;
        outline: none!important;
        font-size: 22px;
        font-family: proxima-nova-regular;
        color: #3D82F0;
        width: 100%;
        border-bottom: 1px solid #3D82F0;
    }
    
    .edit-content > .inner .languages table input, .edit-content > .inner .languages table select {
        border: none;
        outline: none!important;
        font-size: 22px;
        font-family: proxima-nova-regular;
        color: #3D82F0;
        width: 100%;
        border-bottom: 1px solid #3D82F0;
    }
    
    .edit-content > .inner .languages section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .edit-content > .inner .languages section select {
        width: 45%;
    }
    
    .edit-content > .inner .languages section select:nth-child(2) {
        color: #CFCFCF;
    }
    
    .edit-content > .inner .basic-information table label {
        border: none;
        outline: none!important;
        font-size: 22px;
        font-family: proxima-nova-regular;
        color: #3D82F0;
        display: flex;
        align-items: center;
    }
    
    .edit-content > .inner .basic-information table input[type="radio"] {
        width: auto!important;
        margin-top: -5px;
        margin-right: 5px;
        border-color: #3D82F0!important;
    }

    .edit-content .save-content {
        width: 900px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (max-width: 1000px) {
    .auth-info {
        width: 700px!important;
        height: auto!important;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 50px;
    }

    .auth-info form {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .auth-info form span {
        margin-left: 0;
    }

    .edit-content .auth-info .pp-upload input {
        width: 266px;
        height: 266px;
        border-radius: 100%;
        background: transparent;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
    }
    
    .edit-content .auth-info .pp-upload .inner {
        width: 266px;
        border-radius: 100%;	
        height: 266px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background: #E6EBF1;
        z-index: 0;
        position: absolute;
        font-size: 20px;
        font-family: proxima-nova-regular;
        background: url(../assets/images/upload-pp.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .edit-content .auth-info .pp-upload button {
        width: 180px;
        height: 49px;
        border-radius: 40px;
        border: 2px solid #3D82F0;
        font-family: proxima-nova-regular;
        color: #3D82F0;
        background: #ffffff;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        margin-left: auto;
        margin-right: auto;
    }
    
    .edit-content .auth-info .pp-upload button:hover {
        background: #3D82F0;
        color: #ffffff;
    }
    
    .edit-content .auth-info .pp-upload button .img {
        width: 13.56px;
        height: 13px;
        background: url(../assets/images/upload-blue.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 7px;
        transition: all 0.2s;
    }
    
    .edit-content .auth-info .pp-upload button:hover .img{
        width: 13.56px;
        height: 13px;
        background: url(../assets/images/upload-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 7px;
    }
    
    .edit-content .auth-info .login-details {
        margin-left: 0;
    }
    
    .edit-content .auth-info .login-details, .edit-content .auth-info .change-password {
        display: flex;
        flex-direction: column;
    }
    
    .edit-content .auth-info .login-details .title, .edit-content .auth-info .change-password .title {
        font-size: 25px;
        font-family: proxima-nova-regular;
        font-weight: 900;
        color: #3D82F0;
        margin-bottom: 10px;
        margin-top: 60px;
    }
    
    .edit-content .auth-info .login-details section, .edit-content .auth-info .change-password section {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .edit-content .auth-info .login-details section .inner {
        width: 381px;
        height: 58px;
        background: #E6EBF1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .edit-content .auth-info .change-password section .inner {
        width: 381px;
        height: 58px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #3D82F0;
    }
    
    .edit-content .auth-info .login-details section .inner:nth-child(2), .edit-content .auth-info .change-password section .inner:nth-child(2) {
        margin-top: 20px;
    }
    
    .edit-content .auth-info .login-details section .inner:nth-child(1) .i {
        width: 20.56px;
        height: 15.42px;
        background: url(../assets/images/email.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        margin-right: 22px;
    }
    
    .edit-content .auth-info .login-details section .inner:nth-child(2) .i {
        width: 20.56px;
        height: 23.42px;
        background: url(../assets/images/padlock.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        margin-right: 22px;
    }
    
    .edit-content .auth-info .change-password section .inner .i {
        width: 20.56px;
        height: 23.42px;
        background: url(../assets/images/padlock.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        margin-right: 22px;
    }
    
    .edit-content .auth-info .login-details section .inner .show {
        width: 24px;
        height: 25px;
        background: url(../assets/images/show.svg);
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        position: absolute;
        transform: translateX(155px);
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    
    .edit-content .auth-info .login-details section .inner input {
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 0;
        background: #E6EBF1;
        font-size: 18px;
        color: #343434;
        opacity: 0.6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
    }
    
    .edit-content .auth-info .change-password section .inner input {
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 0;
        background: #ffffff;
        font-size: 18px;
        color: #3D82F0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
    }
    
    .edit-content .auth-info .change-password section .inner input::placeholder,  .edit-content .auth-info .change-password section .inner inputt::-webkit-input-placeholder {
        color: #343434;
        opacity: 0.5;
        font-family: segoe-regular;
    }
    
    .edit-content .show_email {
        margin-top: 20px;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    
    .edit-content .show_email label .text {
        margin-left: 18px;
        font-size: 16px;
        font-family: proxima-nova-regular;
        color: #343434;
        text-decoration: underline;
    }
    
    .edit-content .change-password button {
        width: 180px;
        height: 49px;
        border-radius: 40px;
        font-family: proxima-nova-regular;
        color: #ffffff;
        background: #3D82F0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        align-self: flex-end;
        border: none;
    }
    
    .edit-content .change-password button:hover {
        background: #FF930E;
    }
    
    .edit-content .change-password button .img {
        width: 13.56px;
        height: 13px;
        background: url(../assets/images/save-changes-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 7px;
        transition: all 0.2s;
    }

    .edit-content > .inner {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 150px;
    }
    
    .edit-content > .inner .basic-information, .edit-content > .inner .languages, .edit-content > .inner .introduction {
        width: 700px;
        height: auto;
        padding-bottom: 70px;
        background: #ffffff;
        border: 1px solid #3D82F0;
    }
    
    .edit-content > .inner .languages, .edit-content > .inner .introduction {
        margin-top: 50px;
    }
    
    .edit-content > .inner .basic-information .title, .edit-content > .inner .languages .title, .edit-content > .inner .introduction .title {
        margin-top: 25px;
        margin-left: 25px;
        font-size: 25px;
        color: #3D82F0;
        font-family: proxima-nova-regular;
        font-weight: 900;
    }
    
    .edit-content > .inner .introduction textarea {
        margin-left: 45px;
        margin-top: 30px;
        width: 613px;
        height: 170px;
        outline: none;
        border: none;
        font-size: 18px;
        font-family: proxima-nova-regular;
        color: #222A41;
        overflow: auto;
    }
    
    .edit-content input[type=date]::-webkit-clear-button, /* blue cross */
    .edit-content input[type=date]::-webkit-inner-spin-button, /* up */
    .edit-content input[type=date]::-webkit-outer-spin-button, /* down */
    .edit-content input[type=date]::-webkit-calendar-picker-indicator /* datepicker*/ {
        display: none;
    }
    
    .edit-content > .inner .basic-information table, .edit-content > .inner .languages table {
        margin-left: 40px;
        width: 700px;
        margin-top: 20px;
    }
    
    .edit-content > .inner .basic-information table th, .edit-content > .inner .languages table th {
        width:185px;
        font-weight: 400;
        color: #222A41;
        font-size: 18px!important;
        font-family: proxima-nova-regular;
        padding-top: 20px;
    }
    
    .edit-content select {
        height: 35px;
    }
    
    .edit-content > .inner .basic-information table tr, .edit-content > .inner .languages table tr {
        height: 45px;
    }
    
    .edit-content > .inner .basic-information table td, .edit-content > .inner .languages table td {
        padding-top: 15px;
        display: flex;
        width: 420px;
    }
    
    .edit-content > .inner .basic-information table td label:nth-child(1) {
        margin-right: 40px;
    }
    
    .edit-content > .inner .basic-information table input, .edit-content > .inner .basic-information table select {
        border: none;
        outline: none!important;
        font-size: 18px!important;
        font-family: proxima-nova-regular;
        color: #3D82F0;
        width: 100%;
        border-bottom: 1px solid #3D82F0;
    }
    
    .edit-content > .inner .languages table input, .edit-content > .inner .languages table select {
        border: none;
        outline: none!important;
        font-size: 18px!important;
        font-family: proxima-nova-regular;
        color: #3D82F0;
        width: 100%;
        border-bottom: 1px solid #3D82F0;
    }
    
    .edit-content > .inner .languages section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .edit-content > .inner .languages section select {
        width: 45%;
    }
    
    .edit-content > .inner .languages section select:nth-child(2) {
        color: #CFCFCF;
    }
    
    .edit-content > .inner .basic-information table label {
        border: none;
        outline: none!important;
        font-size: 21px!important;
        font-family: proxima-nova-regular;
        color: #3D82F0;
        display: flex;
        align-items: center;
    }
    
    .edit-content > .inner .basic-information table input[type="radio"] {
        width: auto!important;
        margin-top: -5px;
        margin-right: 5px;
        border-color: #3D82F0!important;
    }
    
    .edit-content .save-content {
        transform: scale(0.78);
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .edit-content .connect-with {
        width: 368px;
        height: auto;
        margin-top: 40px;
    }

    .login-details, .change-password, .pp-upload {
        transform: scale(0.8);
    }

    .auth-info form > span {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .profile-header {
        width: 100%;
        height: 234px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 109px;
    }

    .profile-header .bg {
        width: 100%;
        height: 234px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .profile-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.5);
        right: -120px;
        top: -122px;
    }

    .profile-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(3.2);
        left: 280px;
        bottom: -50px;
    }

    .profile-header .inner {
        width: 450px;
        height: 206px;
        display: flex;
        align-items: center;
        z-index: 1;
    }
    .profile-header .inner .user-photo {
        width: 128px;
        height: 128px;
        border-radius: 100%;
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background: url(../assets/images/samir.svg);
    }
    
    .profile-header .inner .info {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        transform: translate3d(0, 30px, 0);
        margin-top: -60px;
    }
    
    .profile-header .inner .user-namesurname {
        font-size: 28px;
        font-family: proxima-nova-medium;
        color: #ffffff;
    }
    
    .profile-header .inner .local-time {
        font-size: 18px;
        font-family: proxima-nova-medium;
        color: #ffffff;
        display: flex;
        align-items: center;
        transform: translate3d(0, 10px, 0);
    }
    
    .profile-header .inner .loc-img {
        width: 13px;
        height: 17px;
        transform: scale(0.85);
        background: url(../assets/images/location.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -4px;
        margin-right: 10px;
    }
    
    .profile-header .inner .personal-info {
        display: flex;
        width: 480px;
        font-size: 14px;
        transform: translate3d(-180px, 125px, 0);
    }
    
    .profile-header .inner .personal-info .mail-img {
        transform: scale(0.85);
    }
    
    .profile-header .inner .personal-info .mail {
        display: flex;
        align-items: center;
        color: #ffffff;
    }
    
    .profile-header .inner .personal-info .gender {
        display: flex;
        align-items: center;
    }
    
    .profile-header .inner .personal-info .gender .gender-img {
        width: 16.63px;
        height: 16.63px;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        margin-right: 10px;
        margin-top: -2px;
    }
    
    .profile-header .inner .personal-info .gender #male {
        transform: scale(0.85);
    }
    
    .profile-header .inner .personal-info .gender #female {
        transform: scale(0.85);
    }

    .profile-header .inner .personal-info .gender #other {
        transform: scale(0.85);
    }
    
    .profile-header .inner .personal-info .lang-img {
        transform: scale(0.85);
    }

    .information-content .your-plan {
        position: absolute;
        top: 510px;
        background: transparent;
        border: none;
        width: 330px;
        margin-left: 40px;
        transform: scale(0.8);
    }

    .information-content .overview {
        margin-top: 100px;
        width: 450px;
    }

    .information-content .overview .left > div {
        width: 100%;
    }

    .information-content .basic-information .title, .information-content .languages .title, .information-content .introduction .title {
        color: #3D82F0;
        font-size: 18px;
        font-family: proxima-nova-regular;
        font-weight: 900;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 40px;
    }

    .information-content .basic-information .inner table th, .information-content .languages .inner table th {
        color: #222A41;
        width: 150px;
        font-size: 14px;
        font-family: proxima-nova-regular;
        font-weight: 400!important;
    }

    .information-content .languages, .information-content .introduction {
        margin-top: 30px;
    }

    .information-content .basic-information .inner table tr, .information-content .languages .inner table tr {
        height: 30px;
    }

    .information-content .basic-information .inner table td, .information-content .languages .inner table td {
        color: #3D82F0;
        font-size: 14px;
        font-family: proxima-nova-regular;
    }

    .information-content .introduction .text {
        font-size: 14px;
        color: #222A41;
        font-family: proxima-nova-regular;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 45px;
        margin-top: -12px;
    }

    .auth-info {
        width: auto!important;
        margin-top: -70px!important;
    }

    .login-details {
        margin-right: 0;
        margin-top: -60px!important;
        z-index: 1;
    }

    .change-password {
        margin-top: -70px!important;
    }

    .change-password button {
        display: none!important;
    }

    .login-details, .change-password, .pp-upload {
        transform: scale(0.8);
    }

    .auth-info form span {
        flex-direction: column;
    }

    .edit-content .inner > div {
        transform: scale(0.435);
    }

    .edit-content .inner > .basic-information {
        margin-top: -130px;
        border: none;
    }

    
    .edit-content .inner > .languages {
        margin-top: -230px;
        border: none;
    }

    .edit-content .inner > .introduction {
        transform: scale(1);
        width: 293.63px;
        border: none;
        margin-top: -110px;
    }

    .edit-content > .inner .introduction .title {
        margin-top: 10.87px;
        margin-left: 10.87px;
        font-size: 10.87px;
        color: #3D82F0;
        font-family: proxima-nova-regular;
        font-weight: 900;
    }

    .edit-content .inner > .introduction textarea {
        font-size: 7.83px;
        width: 293.63px;
        margin: 0;
        min-height: 120px;
        outline: none;
        border: none;
        font-family: proxima-nova-regular;
        color: #222A41;
        overflow: hidden;
        background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 23px, #3D82F0 23px, #3D82F0 14px, white 24px);
        background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 23px, #3D82F0 23px, #3D82F0 14px, white 24px);
        background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 23px, #3D82F0 23px, #3D82F0 14px, white 24px);
        background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 23px, #3D82F0 23px, #3D82F0 14px, white 24px);
        background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 23px, #3D82F0 23px, #3D82F0 14px, white 24px);
        background-size: 100% 100%, 100% 100%, 100% 24px;
        line-height: 24px;
        padding: 0 15px;
    }

    .save-content {
        flex-direction: column;
        width: auto!important;
        transform: scale(0.7)!important;
        margin-top: -100px;
        margin-bottom: -130px;
    }

    .save-content > button {
        align-self: center!important;
        margin-top: 100px!important;
    }
}

@media (max-width:600px) {
    .profile-header {
        margin-top: 70px;
    }

    .information-content .your-plan {
        position: absolute;
        top: 431px;
        background: transparent;
        border: none;
        width: 330px;
        margin-left: 40px;
        transform: scale(0.8);
    }

    .profile-nav {
        height: 140px;
    }

    .auth-info {
        margin-top: -40px!important;
    }

    .profile-nav .switch-nav {
        transform: scale(0.7);
    }
}

@media (max-width: 500px) {
    .profile-header {
        width: 100%;
        height: 234px;
        background: linear-gradient(90deg, #0457DC, #4B97EF);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    .profile-header .bg {
        width: 100%;
        height: 234px;
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 0;
    }

    .profile-header .bg .bg-o-right {
        width: 410px;
        height: 450px;
        background: url(../assets/images/bg-right-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(0.4);
        right: -150px;
        top: -142px;
    }

    .profile-header .bg .bg-o-left {
        width: 280px;
        height: 307px;
        background: url(../assets/images/bg-left-profile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: scale(2.2);
        left: 110px;
        bottom: -130px;
    }

    .profile-header .inner {
        width: 310px;
        height: 140px;
        display: flex;
        align-items: center;
        z-index: 1;
        margin-top: 0px;
    }
    .profile-header .inner .user-photo {
        width: 98px;
        height: 98px;
        border-radius: 100%;
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background: url(../assets/images/samir.svg);
        flex-shrink: 0;
    }
    
    .profile-header .inner .info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        transform: translate3d(0, 20px, 0);
        margin-top: -60px;
    }
    
    .profile-header .inner .user-namesurname {
        font-size: 24px;
        font-family: proxima-nova-medium;
        color: #ffffff;
    }
    
    .profile-header .inner .local-time {
        font-size: 10px;
        font-family: proxima-nova-medium;
        color: #ffffff;
        display: flex;
        align-items: center;
        transform: translate3d(0, 10px, 0);
    }
    
    .profile-header .inner .loc-img {
        width: 13px;
        height: 17px;
        transform: scale(0.85);
        background: url(../assets/images/location.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -4px;
        margin-right: 10px;
    }
    
    .profile-header .inner .personal-info {
        display: flex;
        width: 300px;
        font-size: 10px;
        transform: translate3d(-115px, 105px, 0);
    }
    
    .profile-header .inner .personal-info .mail-img {
        transform: scale(0.65);
        margin-right: 0;
    }
    
    .profile-header .inner .personal-info .mail {
        display: flex;
        align-items: center;
        color: #ffffff;
    }
    
    .profile-header .inner .personal-info .gender {
        display: flex;
        align-items: center;
    }
    
    .profile-header .inner .personal-info .gender .gender-img {
        width: 16.63px;
        height: 16.63px;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        margin-right: 10px;
        margin-top: -2px;
    }
    
    .profile-header .inner .personal-info .gender #male {
        transform: scale(0.65);
        margin-right: 0px;
    }
    
    .profile-header .inner .personal-info .gender #female {
        transform: scale(0.65);
        margin-right: 0px;
    }

    .profile-header .inner .personal-info .gender #other {
        transform: scale(0.65);
        margin-right: 0px;
    }
    
    .profile-header .inner .personal-info .lang-img {
        transform: scale(0.65);
        margin-right: 0px;
    }

    .information-content .your-plan {
        position: absolute;
        top: 431px;
        background: transparent;
        border: none;
        width: 330px;
        margin-left: -5px;
        transform: scale(0.8);
    }

    .information-content .overview {
        margin-top: 100px;
        width: 300px;
        padding-bottom: 20px;
    }

    .information-content .overview .left > div {
        width: 100%;
    }

    .information-content .basic-information .title, .information-content .languages .title, .information-content .introduction .title {
        color: #3D82F0;
        font-size: 14px!important;
        font-family: proxima-nova-regular;
        margin-top: 20px!important;
        margin-left: 20px!important;
        margin-bottom: 25px!important;
        font-weight: 900;
    }

    .information-content .basic-information .inner table th, .information-content .languages .inner table th {
        color: #222A41;
        width: 100px!important;
        font-size: 11px!important;
        font-family: proxima-nova-regular;
        font-weight: 400!important;
    }

    .information-content .languages .inner table {
        margin-left: 35px;
        margin-bottom: 30px;
    }

    .information-content .languages, .information-content .introduction {
        margin-top: 20px!important;
    }

    .information-content .basic-information .inner table tr, .information-content .languages .inner table tr {
        height: 20px!important;
    }

    .information-content .basic-information .inner table td, .information-content .languages .inner table td {
        color: #3D82F0;
        font-size: 11px!important;
        font-family: proxima-nova-regular;
    }

    .information-content .introduction .text {
        font-size: 11px!important;
        color: #222A41;
        font-family: proxima-nova-regular;
        margin-left: 35px!important;
        margin-right: 35px!important;
        margin-bottom: 45px;
        margin-top: -12px;
    }

    .information-content .connected-with {
        width: 300px!important;
        height: auto;
        margin-top: 20px;
        transform: scale(0.7) translate3D(-50px, 0, 0)!important;
    }
}