.reset-popup {
    width: 100%;
    height: 100vh;
    z-index: 1000000;
    display: none;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: fixed;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.reset-popup .panel {
    width: 600px;
	height: 510px;
    box-shadow: #5353537e 12px 12px 30px;
	display: flex;
	flex-direction: column;
    align-items: center;
    background: #ffffff;
    position: absolute;
    transform: scale(0.9);
}
		
.reset-popup .text {
	font-size: 36px;
	font-family: proxima-nova-medium;
	color: #222A41;
	margin-top: 40px;
	text-decoration: underline;
}

.reset-popup .sign-with {
    display: flex;
    width: 380px;
    justify-content: space-between;
    margin-top: 20px;
}

.reset-popup .sign-with a {
    text-decoration: none;
}

.reset-popup .sign-with a .fa-facebook-f, .reset-popup .sign-with a .fa-google-plus-g {
    font-size: 17px;
}

.reset-popup .sign-with a > div {
    width: 179px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-popup .sign-with a span {
    margin-top: 3px;
    margin-left: 10px;
}

.reset-popup .sign-with a:nth-child(1) > div {
    font-family: proxima-nova-regular;
    font-size: 12px;
    color: #3D82F0;
    border: 2px solid #3D82F0;
    border-radius: 25px 25px 25px 25px;
    transition: all 0.2s;
}

.reset-popup .sign-with a:nth-child(1) > div:hover {
    background: #3D82F0;
    color: #ffffff;
}

.reset-popup .sign-with a:nth-child(2) > div {
    font-family: proxima-nova-regular;
    font-size: 12px;
    color: #FF3A46;
    border: 2px solid #FF3A46;
    border-radius: 25px 25px 25px 25px;
    transition: all 0.2s;
}

.reset-popup .sign-with a:nth-child(2) > div:hover {
    background: #FF3A46;
    color: #ffffff;
}

.reset-popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.reset-popup .inner {
    width: 381px;
    height: 58px;
    background: #EDF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-popup .confirmation, .reset-popup .new-password {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 0;
    background: #EDF0F3;
    font-size: 18px;
    color: #222A41;
    font-family: proxima-nova-medium;
    outline: none;
}

.reset-popup .inner input::placeholder,  .reset-popup .inner input::-webkit-input-placeholder {
    color: #343434;
    opacity: 0.6;
    font-family: segoe-regular;
}

.reset-popup .inner:nth-child(1), .reset-popup .inner:nth-child(2) {
    margin-bottom: 15px;
}

.reset-popup .inner:nth-child(1) .i {
    width: 23.5px;
    height: 23.5px;
    background: url(../assets/images/icons8_approval_2px_3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-right: 22px;
}

.reset-popup .inner:nth-child(2) .i {
    width: 20.56px;
    height: 24.42px;
    background: url(../assets/images/padlock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-right: 22px;
}

.reset-popup .inner:nth-child(3) .i {
    width: 20.56px;
    height: 24.42px;
    background: url(../assets/images/padlock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    margin-right: 22px;
}

.reset-popup .user-password {
    padding-right: 30px;
}

.reset-popup .show {
    width: 24px;
    height: 25px;
    background: url(../assets/images/show.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    position: absolute;
    transform: translateX(155px);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.reset-popup .remember_forgot {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Hide the browser's default checkbox */
.reset-popup .remember_forgot label input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.reset-popup .checkmark {
    position: absolute;
    height: 13px;
    width: 13px;
    background: #ffffff;
    border-radius: 0;
    border: 1px solid #999999;
    margin-top: 6px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.reset-popup .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.reset-popup .remember_forgot label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.reset-popup .remember_forgot label .checkmark:after {
    left: 4px;
    top: 2px;
    width: 2.5px;
    height: 5px;
    border: solid #000000;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.reset-popup .remember_forgot label .remember-text {
    margin-left: 18px;
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #343434;
    text-decoration: underline;
}

.reset-popup .remember_forgot a {
    float: right;
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #343434;
    text-decoration: underline;
}

.reset-popup form button {
    width: 141px;
    height: 50px;
    border-radius: 3px 3px 3px 3px;
    font-size: 18px;
    font-family: proxima-nova-regular;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #00EBAC, #00D1F4,#00D1F4,#00EBAC);
    background-size: 400%;
    animation: animate 8s linear infinite;
    margin-top: 40px;
}

@keyframes animate {
    0% {background-position: 0%}
    100% {background-position: 400%}
}

.reset-popup form button:hover {
    background: transparent;
    border: 1px solid #FF6400;
    color: #FF6400;
    transition: all 0.2s;
}

.reset-popup .referer-sign {
    margin-top: 30px;
    text-decoration: underline;
    color: #CFCFCF;
}

.reset-popup .referer-sign span {
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #CFCFCF;
}

.reset-popup .referer-sign a {
    font-size: 16px;
    font-family: proxima-nova-regular;
    color: #FF6400!important;
    cursor: pointer;
}

@media (max-width: 650px), (max-height:650px) {
    .reset-popup .panel {
        transform: scale(0.6);
    }
}

@media (max-width: 370px) {
    .reset-popup .panel {
        transform: scale(0.5);
    }
}