/* conversation-content */
.conversation-content{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.conversation-content .title{
    width: 540px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.conversation-content .title a{
    color: #222a41;
    text-decoration: underline;
    font-size: 48px;
    font-family: proxima-nova-medium;
}

.conversation-content .title span{
    width: 50px;
    height: 4px;
    background-color: #FF6400;
    border-radius: 4.5px 4.5px 4.5px 4.5px;
}

.conversation-content .inner{
    height: auto;
    width: 1060px;
    display: flex;
    justify-content: space-between;
}

.conversation-content .inner-item{
    width: 250px;
    height: 265px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 4px 4px;
}

.conversation-content .inner-item:hover{
    background: #ffffff;
    box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
    -ms-box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
    -webkit-box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
    transition: 0.2s;
}

.conversation-content .inner-item .flag{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

/* TEST --------------- */
#en{
    background: url(../assets/images/gb-2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#ru{
    background: url(../assets/images/ru-2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#de{
    background: url(../assets/images/de-2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#tr{
    background: url(../assets/images/tr-2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
/* --------------------- */

.conversation-lang{
    font-family: proxima-nova-regular;
    font-size: 20px;
    margin-top: 25px;
    color: #233D63;
}

.soon{
    opacity: 0.4;
}

.soon .coming-soon{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: #000000 url(../assets/illustrations/coming\ soon@2x.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.77;
}

/* timetable-nav */
.timetable-nav {
    width: 100%;
    height: 300px;
    max-width: 2000px;
    background: #F7FAFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.timetable-nav .switch-nav {
    width: 437px;
    height: 64px;
    border-radius: 40px;
    border: 2px solid #3D82F0;
    display: flex;
    -moz-user-select: none;
    -webkit-user-select: none;
    background: transparent;
    z-index: 1;
}

.timetable-nav .switch-nav .beginner {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: proxima-nova-regular;
    font-size: 15px;
    cursor: pointer;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.timetable-nav .switch-nav .advanced {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D82F0;
    font-family: proxima-nova-regular;
    font-size: 15px;
    cursor: pointer;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.switch-button {
    width: 221px;
    height: 62px;
    border-radius: 40px;
    background: #3D82F0;
    position: absolute;
    z-index: -1;
    margin-top: -1px;
    margin-left: -1px;
}

.timetable-nav .info {
    width: 790px;
    height: auto;
    display: flex;
    margin-top: 60px;
}

.timetable-nav .info .img {
    width: 24.41px;
    height: 24.41px;
    background: url(../assets/images/info.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    margin-right: 15px;
}

.timetable-nav .info {
    font-family: proxima-nova-medium;
    font-size: 15px;
    color: #707070;
}

.timetable-nav .info .text span {
    color: #3D82F0;
    cursor: pointer;
}

.timetable-nav .info #text-2 {
    display: none;
}

.t-side {
    width: 1141px;
    height: auto;
    justify-content: space-between!important;
    position: absolute;
    color: #3D82F0;
    font-family: proxima-nova-medium;
    font-size: 38px;
    transform: translate3d(0, -50px, 0);
    display: none;
}

/* beginner timetable */
.beginner-timetable {
    width: 100%;
    height: auto;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 150px;
}

.beginner-timetable .video-content {
    width: 1171px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #3D82F0;
    margin-bottom: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.beginner-timetable .video-content .content-title {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.beginner-timetable .video-content .content-title .text {
    font-size: 38px;
    font-family: proxima-nova-medium;
    color: #3D82F0;
    margin-left: 30px;
    margin-right: 30px;
}

.beginner-timetable .video-content .content-title .indicator {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beginner-timetable .video-content .content-title .indicator .plus {
    width: 25px;
    height: 25px;
    background: url(../assets/images/plus.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.beginner-timetable .video-content .content-title .indicator .minus {
    width: 25px;
    height: 25px;
    background: url(../assets/images/minus.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.beginner-timetable .video-content .content-inner {
    width: 100%;
    height: auto;
    display: none;
    padding-bottom: 20px;
}

.beginner-timetable .video-content .content-inner ul {
    width: 100%;
}

.beginner-timetable .video-content .content-inner .lesson {
    height: 80px;
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.beginner-timetable .video-content .content-inner .lesson .no {
    width: 50px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3D82F0;
}

.beginner-timetable .video-content .content-inner .lesson .title {
    font-size: 25px;
    font-family: proxima-nova-medium;
    color: #222A41;
    text-decoration: underline;
    margin-left: 30px;
}

.beginner-timetable .video-content .content-inner .lesson .lesson-button {
    margin-left: auto;
    margin-right: 30px;
    transition: all 0.2s;
}

.beginner-timetable .video-content .content-inner .lesson .lesson-button > .start {
    width: 141px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background: #3D82F0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    border-radius: 3px;
    transition: all 0.1s;
}

.beginner-timetable .video-content .content-inner .lesson .lesson-button > .start:hover {
    border: 1px solid #3D82F0;
    background: transparent;
    color: #3D82F0;
}

.beginner-timetable .video-content .content-inner .lesson .lesson-button > .continue {
    width: 141px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background: #00E5FF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    border-radius: 3px;
    transition: all 0.1s;
}

.beginner-timetable .video-content .content-inner .lesson .lesson-button > .continue:hover {
    border: 1px solid #00E5FF;
    background: transparent;
    color: #00E5FF;
}

.beginner-timetable .video-content .content-inner .lesson .lesson-button > .again {
    width: 141px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background: #0BDC71;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: proxima-nova-regular;
    border-radius: 3px;
    transition: all 0.1s;
}

.beginner-timetable .video-content .content-inner .lesson .lesson-button > .again:hover {
    border: 1px solid #0BDC71;
    background: transparent;
    color: #0BDC71;
}

.advanced-timetable {
    width: 100%;
    height: auto;
    max-width: 2000px;
    margin-bottom: 50px;
    display: none;
    margin-bottom: 100px;
}

.advanced-timetable > .title {
    margin-top: 40px;
    font-size: 38px;
    font-family: proxima-nova-medium;
    color: #3D82F0;
    text-align: center;
}

.advanced-timetable .video-content {
    width: 1171px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.advanced-timetable .video-content .lesson {
    width: 100%;
    height: auto;
}

.advanced-timetable .video-content .lesson:not(:last-child) {
    margin-bottom: 100px;
}

.advanced-timetable .video-content .lesson .main {
    width: 100%;
    height: 216px;
    border: 1px solid #3D82F0;
    box-sizing: content-box;
}

.advanced-timetable .video-content .lesson .main .time-control {
    width: 525px;
    height: 168px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-left: 8%;
    float: left;
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33333%;
    height: 168px;
    justify-content: space-between;
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item .week-day {
    color: #222A41;
    font-size: 25px;
    font-family: proxima-nova-medium;
    text-decoration: underline;
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item .time {
    color: #3D82F0;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

.advanced-timetable .video-content .lesson .main .time-control .time-control-item .time-control-button {
    width: 141px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: proxima-nova-regular;
    transition: all 0.2s;
    border: 1px solid transparent;
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #premium {
    background: linear-gradient(90deg, #00D2F3, #00EAAE, #00EAAE, #00D2F3);
    position: relative;
    z-index: 2;
    border: none;
    background-size: 400%;
    animation: animate 8s linear infinite;
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #premium::before {
    border-radius: inherit;
    content: 'Premium';   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: proxima-nova-regular;
    height: inherit;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: inherit;
    z-index: 1;
    transition: opacity 0.2s;
    background: #ffffff;
    border: 1px solid #00D2F3;
    color: #00D2F3;
}

@keyframes animate {
    0% {background-position: 0%}
    100% {background-position: 400%}
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #premium:hover::before {
    opacity: 1;
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #cancel {
    background: #FF4141;
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #cancel:hover {
    background: #ffffff;
    color: #FF4141;
    border: 1px solid #FF4141;
}

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #book {
    background: #3D82F0;
}   

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #book:hover {
    background: #ffffff;
    color: #3D82F0;
    border: 1px solid #3D82F0;
}   

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #enter {
    background: #FF930E;
}  

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #enter:hover {
    background: #ffffff;
    color: #FF930E;
    border: 1px solid #FF930E;
}  

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #expired {
    background: #ACB7D5;
}  

.advanced-timetable .video-content .lesson .main .time-control .time-control-item #expired:hover {
    background: #ffffff;
    color: #ACB7D5;
    border: 1px solid #ACB7D5;
}  

.advanced-timetable .video-content .lesson .main .video {
    width: 352px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
}

.advanced-timetable .video-content .lesson .main .video iframe {
    width: 100%;
    height: 100%;
}


.advanced-timetable .video-content .lesson .main .video .play-button {
    width: 26px;
    height: 28px;
    background: url(../assets/images/play.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.advanced-timetable .video-content .lesson .main .video .video-thumbnail {
    width: 100%!important;
    height: 100%!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.advanced-timetable .video-content .lesson .questions {
    width: 100%;
    height: auto;
    border: 1px solid #3D82F0;
    background: #3D82F0;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
}

.advanced-timetable .video-content .lesson .questions .question-title{
    color: #ffffff;
    width: 100%;
    height: 41px;
    align-items: center;
    font-family: proxima-nova-regular;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.advanced-timetable .video-content .lesson .questions .question-title .select-vector {
    width: 7.5px;
    height: 4.5px;
    background: url(../assets/images/vector.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5px;
    transition: all 0.2s;
}

.advanced-timetable .video-content .lesson .questions .question-title .opened-vector {
    width: 7.5px;
    height: 4.5px;
    background: url(../assets/images/vector.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5px;
    transform: rotate(180deg);
    transition: all 0.2s;
}

.advanced-timetable .video-content .lesson .questions .question-inner {
    width: 100%;
    height: auto;
    background: #3D82F0;
    display: flex;
    flex-wrap: wrap;
}

.advanced-timetable .video-content .lesson .questions .question-inner .question-item {
    width: 33.3333%;
    height: auto;
    padding-right: 30px;
    padding-left: 30px;
    display: none;
}

.advanced-timetable .video-content .lesson .questions .question-inner .question-item .title {
    font-size: 25px;
    font-family: proxima-nova-medium;
    color: #ffffff;
    margin-top: 50px;
}

.advanced-timetable .video-content .lesson .questions .question-inner .question-item ul {
    margin-top: 20px;
    margin-bottom: 40px;
}

.advanced-timetable .video-content .lesson .questions .question-inner .question-item ul li {
    font-size: 12px;
    font-family: proxima-nova-medium;
    color: #ffffff;
}

.advanced-timetable .week-control {
    width: 1171px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.advanced-timetable .week-control a {
    font-size: 38px;
    font-family: proxima-nova-medium;
    color: #3D82F0;
}

.advanced-timetable .week-control svg {
    font-size: 25px;
    color: #3D82F0;
}

.advanced-timetable .week-control .next {
    float: right;
}

.advanced-timetable .week-control .prev {
    float: left;
}

/* start of youtube-modal */
.youtube-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #00000069;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center!important;
    align-items: center!important;
    display: none;
}

.youtube-modal iframe {
    width: 80%;
    height: 80%;
    margin: 0;
}

.youtube-modal .close-modal {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #FF0000;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
/* end of youtube-modal */


@media (max-width: 1199px) {
    /* conversation-content */
    .conversation-content {
        margin-top: 150px;
    }

    #mobile {
        display: flex;
    }

    #mobile .title{
        display: none;
    }

    .owl-one {
        width: 520px;
        height: 250px;
    }

    #mobile .mobile-item{
        width: 170px;
        height: 220px;
        transition: 0.2s;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 4px 4px 4px 4px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #mobile .mobile-item:hover{
        background: #ffffff;
        box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
        -ms-box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
        -webkit-box-shadow: rgba(61, 61, 61, 0.164) 1px 1px 25px;
        transition: 0.2s;
    }
    
    #mobile .mobile-item .flag{
        width: 90px;
        height: 90px;
        border-radius: 100%;
    }

    /* timetable-nav */
    .timetable-nav .switch-nav {
       transform: scale(0.8);
    }

    .timetable-nav .t-side {
        width: 90%;
    }

    /* beginner-timetable */
    .beginner-timetable {
        width: 90%;
        margin-bottom: 100px;
    }

    .beginner-timetable .video-content {
        width: 100%;
    }

    .beginner-timetable .video-content .content-title .text {
        font-size: 25px;
    }

    .beginner-timetable .video-content .content-title .indicator, .beginner-timetable .plus, .beginner-timetable .minus {
        width: 20px;
        height: 20px;
    }

    .beginner-timetable .video-content .content-inner .lesson .no {
        width: 40px;
        font-size: 25px;
    }

    .beginner-timetable .video-content .content-inner .lesson .title {
        margin-left: 5px;
        font-size: 25px;
    }

    /* advanced-timeatble */
    .advanced-timetable .video-content {
        width: 90%;
    }

    .advanced-timetable .video-content .lesson {
        width: 100%;
        height: auto;
    }
    
    .advanced-timetable .video-content .lesson:not(:last-child) {
        margin-bottom: 50px;
    }
    
    .advanced-timetable .video-content .lesson .main {
        width: 100%;
        height: 193px;
        border: 1px solid #3D82F0;
        box-sizing: content-box;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control {
        width: 450px;
        height: 148px;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-top: 22px;
        float: left;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33333%;
        height: 148px;
        justify-content: space-between;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .week-day {
        color: #222A41;
        font-size: 20px;
        font-family: proxima-nova-medium;
        text-decoration: underline;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .time {
        color: #3D82F0;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }   
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .time-control-button {
        width: 121px;
        height: 40px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: proxima-nova-regular;
    }
    
    
    .advanced-timetable .video-content .lesson .main .video {
        width: 302px;
        height: 191px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item {
        width: 33.3333%;
        height: auto;
        padding-right: 25px;
        padding-left: 25px;
        display: none;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item .title {
        font-size: 22px;
        font-family: proxima-nova-medium;
        color: #ffffff;
        margin-top: 30px;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item ul {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item ul li {
        font-size: 10px;
        font-family: proxima-nova-medium;
        color: #ffffff;
    }
    
    .advanced-timetable .week-control {
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    
    .advanced-timetable .week-control a {
        font-size: 25px;
        font-family: proxima-nova-medium;
        color: #3D82F0;
    }
    
    .advanced-timetable .week-control svg {
        font-size: 21px;
        color: #3D82F0;
    }
} 

@media (max-width: 1000px) {
    /* timetable-nav */
    .timetable-nav .switch-nav {
        transform: scale(0.8);
    }

    .timetable-nav .t1, .timetable-nav .t2 {
        font-size: 25px;
    }

    /* advanced-timetable */
    .advanced-timetable .video-content {
        width: 700px;
    }

    .advanced-timetable > .title {
        font-size: 30px;
        width: 700px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .advanced-timetable .video-content .lesson {
        width: 100%;
        height: auto;
    }
    
    .advanced-timetable .video-content .lesson:not(:last-child) {
        margin-bottom: 50px;
    }
    
    .advanced-timetable .video-content .lesson .main {
        width: 100%;
        height: 180px;
        border: 1px solid #3D82F0;
        box-sizing: content-box;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control {
        width: 400px;
        height: 130px;
        display: flex;
        justify-content: space-between;
        margin-left: 4%;
        margin-top: 20px;
        float: left;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33333%;
        height: 130px;
        justify-content: space-between;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .week-day {
        color: #222A41;
        font-size: 15px;
        font-family: proxima-nova-medium;
        text-decoration: underline;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .time {
        color: #3D82F0;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }   
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .time-control-button {
        width: 101px;
        height: 33px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 15px;
        font-family: proxima-nova-regular;
    }
    
    .advanced-timetable .video-content .lesson .main .video {
        width: 252px;
        height: 178px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item {
        width: 33.3333%;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        display: none;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item .title {
        font-size: 20px;
        font-family: proxima-nova-medium;
        color: #ffffff;
        margin-top: 30px;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item ul {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item ul li {
        font-size: 10px;
        font-family: proxima-nova-medium;
        color: #ffffff;
    }
    
    .advanced-timetable .week-control {
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    
    .advanced-timetable .week-control a {
        font-size: 21px;
        font-family: proxima-nova-medium;
        color: #3D82F0;
    }
    
    .advanced-timetable .week-control svg {
        font-size: 17px;
        color: #3D82F0;
    }
}

@media (max-width: 900px) {
    /* timetable-nav */
    .timetable-nav .info {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .youtube-modal iframe {
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 0;
    }

    /* timetable-nav */
    .timetable-nav .switch-nav {
        transform: translate3d(0, -15px, 0);
    }

    .timetable-nav .info {
        transform: translate3d(0, -30px, 0);
    }

    .timetable-nav .t-side {
        transform: translate3d(0, 100px, 0);
    }

    /* beginner-timetable */
    .beginner-timetable .video-content .content-inner .lesson .lesson-button {
        text-indent: -9999px;
    }

    .beginner-timetable .video-content .content-inner .lesson .lesson-button > div {
        width: 50px!important;
        height: 50px!important;
        border-radius: 100%!important;
    }

    .beginner-timetable .video-content .content-inner .lesson .lesson-button > .start {
        background: #3D82F0 url(../assets/images/start\ lesson.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .beginner-timetable .video-content .content-inner .lesson .lesson-button > .continue {
        background: #00E5FF url(../assets/images/continue.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .beginner-timetable .video-content .content-inner .lesson .lesson-button > .again {
        background: #00E5FF url(../assets/images/view\ again.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* advanced-timetable */
    .advanced-timetable > .title {
        font-size: 27px;
        width: 300px;
    }
    
    .advanced-timetable .video-content {
        width: 400px;
    }

    .advanced-timetable .video-content .lesson {
        width: 100%;
        height: auto;
    }
    
    .advanced-timetable .video-content .lesson:not(:last-child) {
        margin-bottom: 50px;
    }
    
    .advanced-timetable .video-content .lesson .main {
        width: 100%;
        height: 421px;
        border: 1px solid #3D82F0;
        box-sizing: content-box;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control {
        width: 400px;
        height: 138px;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 22px;
        float: left;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90%!important;
        height: 138px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .week-day {
        width: 100px;
        color: #222A41;
        font-size: 18px;
        font-family: proxima-nova-medium;
        text-decoration: underline;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .time {
        color: #3D82F0;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 65px;
    }   
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .time-control-button {
        width: 111px;
        height: 35px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        font-family: proxima-nova-regular;
    }
    
    
    .advanced-timetable .video-content .lesson .main .video {
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        margin-top: 20px;
    }

    .advanced-timetable .video-content .lesson .questions .question-inner {
        flex-direction: column;
    }

    .advanced-timetable .video-content .lesson .questions .question-inner .question-item {
        width: 100%;
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
        display: none;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item .title {
        font-size: 22px;
        font-family: proxima-nova-medium;
        color: #ffffff;
        margin-top: 30px;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item ul {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item ul li {
        font-size: 12px;
        font-family: proxima-nova-medium;
        color: #ffffff;
    }
    
    .advanced-timetable .week-control {
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    
    .advanced-timetable .week-control a {
        font-size: 30px;
        font-family: proxima-nova-medium;
        color: #3D82F0;
    }
    
    .advanced-timetable .week-control svg {
        font-size: 21px;
        color: #3D82F0;
    }
}

@media (max-height: 1000px) and (max-width: 600px) {
    /* conversation-content */
    #mobile {
        margin-top: 100px;
    }

    .conversation-content {
        margin-bottom: 30px;
    }

    .conversation-content .title {
        width: 300px!important;
    }

    .conversation-content .title a {
        font-size: 27px!important;
    }

    .owl-one {
        transform: scale(0.56);
        margin-top: -30px;
        margin-bottom: -40px;
    }
}

@media (max-width: 600px) {
    /* timetable-nav */
    .timetable-nav .switch-nav {
        transform: scale(0.7) translate3d(0, -15px, 0)!important;
    }

    .timetable-nav .info .img {
        width: 20px;
        height: 20px;
    }

    .timetable-nav .info {
        transform: translate3d(0, -40px, 0);
    }

    .timetable-nav .info .text {
        font-size: 13px;
    }

    .timetable-nav .t-side {
        width: 80%;
    }

    .timetable-nav .t1, .timetable-nav .t2 {
        font-size: 14px;
    }

    /* beginner-timetable */
    .beginner-timetable .video-content .content-title .text {
        font-size: 18px;
    }

    .beginner-timetable .video-content .content-title .indicator, .beginner-timetable .plus, .beginner-timetable .minus {
        width: 14px;
        height: 14px;
    }

    .beginner-timetable .video-content .content-inner .lesson .no {
        width: 30px;
        font-size: 18px;
    }

    .beginner-timetable .video-content .content-inner .lesson .title {
        margin-left: 5px;
        font-size: 18px;
    }

    .beginner-timetable .video-content .content-title {
        height: 70px;
    }

    .beginner-timetable .video-content .content-inner .lesson .lesson-button > div {
        width: 35px!important;
        height: 35px!important;
        border-radius: 100%!important;
    }
}

@media (max-width: 500px) {
    .advanced-timetable .video-content {
        width: 300px;
    }

    .advanced-timetable .video-content .lesson {
        width: 100%;
        height: auto;
    }
    
    .advanced-timetable .video-content .lesson:not(:last-child) {
        margin-bottom: 50px;
    }
    
    .advanced-timetable .video-content .lesson .main {
        width: 100%;
        height: 373.5px;
        border: 1px solid #3D82F0;
        box-sizing: content-box;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control {
        width: 300px;
        height: 138px;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 22px;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 138px;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .week-day {
        width: 90px;
        color: #222A41;
        font-size: 16px;
        font-family: proxima-nova-medium;
        text-decoration: underline;
    }
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .time {
        color: #3D82F0;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 60px;
    }   
    
    .advanced-timetable .video-content .lesson .main .time-control .time-control-item .time-control-button {
        width: 91px;
        height: 31px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
        font-family: proxima-nova-regular;
    }
    
    
    .advanced-timetable .video-content .lesson .main .video {
        width: 100%;
        height: 192.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        margin-top: 20px;
    }

    .advanced-timetable .video-content .lesson .questions .question-inner {
        flex-direction: column;
    }

    .advanced-timetable .video-content .lesson .questions .question-inner .question-item {
        width: 100%;
        height: auto;
        padding-right: 15px;
        padding-left: 15px;
        display: none;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item .title {
        font-size: 22px;
        font-family: proxima-nova-medium;
        color: #ffffff;
        margin-top: 30px;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item ul {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    .advanced-timetable .video-content .lesson .questions .question-inner .question-item ul li {
        font-size: 12px;
        font-family: proxima-nova-medium;
        color: #ffffff;
    }
    
    .advanced-timetable .week-control {
        width: 300px;
        margin: auto;
        margin-top: 30px;
    }
    
    .advanced-timetable .week-control a {
        font-size: 21px;
        font-family: proxima-nova-medium;
        color: #3D82F0;
    }
    
    .advanced-timetable .week-control svg {
        font-size: 16px;
        color: #3D82F0;
    }
}